/* --------------------------
* apply
*-------------------------*/
.section-target .section-title{ 
    text-align: left;font-size: 1.6rem;
}
.section-con-txt.box-con-txt{ text-align: left;}
.section-target .section-con-box{margin:3% 0;}
.box-con-txt{
    display: flex;
    -webkit-box-orient: vertical;-ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100px;
    /* justify-content: space-around; */
    /* align-content: space-around; */
}
.box-con-txt p{ 
    width:75%;
    margin-top:0;margin-left:0;
}
.box-con-txt a{ 
    width:25%;height: 100%;
    margin:auto;margin-right:0;
    text-align: right;
}

.box-con-txt p,
.box-con-txt a .btn-style2{ 
    font-size: 1.2rem;
    letter-spacing: -.08em;
}


/* --------------------------
* ticket
*-------------------------*/
.section-ticket{background: #efefef;}
.section-ticket .section-con-txt{
    display: flex;display:-webkit-flex;display:-ms-flex;
    align-items: center;-webkit-align-items: center;
}
.ticket-box{
    width:24%;
    padding: 4% 2%;box-sizing: border-box;
    margin:auto;
    border: 1px solid #ccc;
    height: 300px;
    background:#fff;
    display: flex;
    flex-direction: column;
}
.ticket-box p{letter-spacing: -.05em;}
.ticket-day{
    margin: auto;margin-top:0;
    line-height: 1.5;
}
.ticket-pay{ 
    margin: auto;margin-bottom:0;
    color: #999;
}
.ticket-pay strong{
    display: block;
    position: relative;
    font-size: 2.8rem;
    line-height: 1.8;
    color:#111;
}
.ticket-pay strong:after{
    content:'원';
    position: absolute;
    bottom:20%;right:-10%;
    font-size: 1rem; /* 기본 15px */
    color:#999;
}
.ticket-alert{
    padding:1% 0;
    text-align: right;
}


/* --------------------------
* 
* media query
*
*-------------------------*/
/*------- pc  */
@media screen and ( max-width:1399px ) {
    /*------- apply  */
    .box-con-txt a .btn-style2{padding:7% 14%;}    
}
@media screen and ( max-width:1280px ) { 
    /*------- apply  */
    .box-con-txt p{width:70%;}
    .box-con-txt a{width:30%;}
    .box-con-txt a .btn-style2{padding:7% 10%;} 

    /*------- ticket  */
    .ticket-box{height: 250px;padding: 3% 1%;}
    .ticket-pay strong{font-size: 2.2rem;}
}
@media screen and ( max-width:1140px ) { 
    /*------- ticket  */
    
}
@media screen and ( max-width:970px ){
    /*------- apply  */
}
@media screen and ( max-width:799px ){
    /*------- apply */
    .box-con-txt p{width:70%;}
    .box-con-txt a{width:30%;}
    .box-con-txt a .btn-style2{padding:7%;}
    .box-con-txt p, 
    .box-con-txt a .btn-style2{ font-size: 1rem;}

    /*------- ticket  */
    .section-ticket .section-con-txt{ flex-wrap: wrap; }
    .ticket-box{
        width:49%;height: 250px;
        padding: 3% 1%;
        margin:auto;margin-right:10px;margin-bottom:10px;
    }
    .ticket-box:nth-child(2n){margin-right:0;}
    .ticket-pay strong{font-size: 2.2rem;}

}


/*------- mobile */
@media screen and ( max-width:600px ){
    /*------- apply */
    .section-target .section-con-box{margin: 10% 0;}
    .box-con-txt p{
        width:65%;height: 50%;
        line-height: 1.2;
    }
    .box-con-txt a{
        width:35%;height: 100%;
        text-align: center;
    }
    .box-con-txt a .btn-style2{
        padding:8% 4%;
        line-height: 1.2;
        box-sizing: border-box;
    }


    /*------- ticket */
    .ticket-box{ 
        height: 200px;
        margin-right:5px;margin-bottom:5px;
    }
    .ticket-box p{font-size: 1.1rem;}
    .ticket-pay strong{font-size: 2.2rem;}
    .ticket-alert{font-size: .9rem;text-align: center;}
    
}
@media screen and ( max-width:500px ){
    /*------- ticket */
    .ticket-box{ height: 170px;padding:4% 1%; }
}
/* ios6/7/8 */
@media screen and (min-width: 361px) and (max-width: 375px){}
/* ios6/7/8 plus */
@media screen and (min-width: 376px) and (max-width: 414px){
    /*-------- ticket  */
    /* .ticket-pay{width:35%;} */
}
/* ios5/se */
@media screen and (max-width: 359px){
    .box-con-txt a .btn-style2{ padding:8% 4%;}
    /*------- ticket */
    .ticket-box{ height: 130px;padding:4% 1%; }
    .ticket-box p{font-size: 1rem;}
    .ticket-pay strong{font-size: 2rem;line-height: 1.4;}
}



