/* 
*  플랫폼화 구조 정리 중....
* 
*
*/
/* @import './head_foot.css';
@import './session.css';
@import './award.css';
@import './faq.css';
@import './apply.css'; */
.btn-style, 
.btn-style2, 
.btn-style2-black,
.btn-down {
    padding: 15px 45px;
    font-size: 1.2rem;
}



/* --------------------------
* main head - navi
*-------------------------*/
/* main navi */
.main-sub-head{ 
    position: absolute;
    left: 0;right: 0;
    margin: auto;z-index:1010;
    display: none; 
}
.tabs{ 
    background: none;width:auto;height:52px;margin-right: 0;
    display: flex;display: -webkit-flex;display: -ms-flex;
    flex-wrap: nowrap;-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;
    justify-content: flex-end;-webkit-box-pack: end; -ms-flex-pack: end;
}
.tabs .tab{padding-right:5%;}
.tabs .tab:last-child{padding-right: 0;}
.tabs .tab a{ 
    display: block;
    line-height: 50px;height: 50px;padding:0;
    color:#666;position: relative;
}
.tabs .tab a:hover, 
.tabs .tab a:focus,
.tabs .tab a.active,
.head-con-navi a:hover{ background-color: transparent;color: #ee6e73; }

/* main navi */
header.fix .head-con-navi a{ color:#111; }
header.fix .head-con-navi a:hover,
header.fix .head-con-navi a:active,
header.fix .head-con-navi a:focus,
header.fix .head-con-navi a.on{ color:#111;font-weight: bold; }

/* header.fix .head-con-navi .btn-style{ 
    border: solid 1px #ff4d4e;
    color:#ff4d4e;
    font-weight: 400;
}
header.fix .head-con-navi .btn-style:active,
header.fix .head-con-navi .btn-style:focus{
    color:#ff4d4e;font-weight: 400;
} */

header.fix+.btn-top+.main-sub-head,
header.fix+.btn-top+.subpage-visual+.main-sub-head{
    display: block;
    position: fixed;z-index:100;
    /* top:50px; */
    top:86px;
    background:#fff;
}


@keyframes fix{
    from{ opacity: 0;transform: translateY(-100px); }
    to{ opacity: 1;transform: translateY(0); }
}



/*------------------ 
* main-visual 
*------------------*/
.visual{ 
    position: fixed;
    top:0;left:0;right:0;bottom:0;
    overflow: hidden;
}
.visual-bg{
    background:#fff;
    width:100vw;
    height: 100vh;
}
.visual-bg-box{
    width:100vw;height:100vh;
    background: #eee;
    /* opacity: .5; */
}
.visual-bg-box video,
.visual-bg-box iframe,
.visual-bg-box img{ width:100%;height: 100%; }
.visual-con{ 
    position: absolute;top:0;left: 0;right:0;bottom:0;
    height: 30%;margin: auto;
    text-align: center;
}

.visual-con-box h2{ 
    font-size: 5rem; 
    text-transform: uppercase;
    margin-bottom:2%;
}
.visual-con-box .ko{ font-size: 2rem; }


/* 클릭했을때 모달로 */
/* .modal.modal-video {
    max-height: 100%;
    width:80%;
    background: none;
    box-shadow:none;
    overflow-y: inherit;
}
.modal-video .modal-content{padding:0;}
.modal-video iframe,
.modal-video video{
    width:100%;
    height:650px;
}
.modal-close{ 
    position: absolute;
    top:-40px;
}
.modal-close-right{ right:-20px; }
.modal-close-left{ left:-20px; }
.modal-close-center{ right:0;left:0;margin:auto; }
.modal-close i{ font-size:3rem; }

.modal-footer{display: none;} */


/*------------------ 
* [subpage] visual 
*------------------*/
.subpage-visual{
    width:100%;min-height: 170px;
    padding:20% 0 5px;
    background: #ddd;
}
.subpage-visual .section-title{
    color:#888;
    text-align: left;
}



/**** animation  *****/
/* .move{ 
    transition: all .2s;
    animation: textAni 1.2s normal;
    -webkit-animation: textAni 1.2s normal;
    -moz-animation: textAni 1.2s normal;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: forwards;
}
.visual-con-box-txt.move{animation-delay: 0;}
span:nth-child(2).visual-con-box-txt.move{ animation-delay: .3s; }
span:nth-child(3).visual-con-box-txt.move{ animation-delay: .6s; }
span:nth-child(4).visual-con-box-txt.move{ animation-delay: .9s; }
p.visual-con-box-txt.move{animation-delay: 1.2s;}

@keyframes textAni{
    from{ opacity: 0;transform: translateY(200px); }
    to{ opacity: 1;transform: translateY(0); }
}
@-webkit-keyframes textAni{
    from{ opacity: 0;transform: translateY(200px); }
    to{ opacity: 1;transform: translateY(0); }
} */


/*------------------ 
* 
* contents
* 
*------------------*/
.visual+div{ margin-top:90vh;}

.section-title{
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
.section-con-txt{text-align: center;}

/*------------------ 
* main banner && count
*------------------*/
.main-banner .section-title{ 
    font-size: 1.2rem;/*18px*/
    text-transform: capitalize;
    font-weight: 100;
    margin-bottom: 10px;
}

.count-box{
    background: #333;
    color:#ddd;font-size:1.6rem;
    padding:4% 0;text-align: center;font-weight: 400;
}
.count-box strong{font-weight: bold;color:#f6f6f6;}
.main-banner .section-con-txt>div{ 
    padding:5px 0 15px; 
    font-size:1.6rem;/*24px*/
    color:#eee;
}

.link-banner-txt{font-size: 1.8rem;}

/*------------------ 
* synopsis - 행사개요
*------------------*/
.synopsis{padding:10% 0;}


/*------------------ 
* Agency
*------------------*/
.section-agency .section-title{width: 100%;}
.section-agency .section-con-title{
    text-transform: uppercase;
    font-weight: 900;margin-bottom:3%;
}
.section-agency .section-con-box{
    display: inline-block;
    width:47%;
    vertical-align:top;
    margin-bottom:3%;
}
.section-agency .section-con-box:nth-child(2){margin-right:5%;}
.section-agency .section-con-box img{width: 100%;}

.sess-bar{ 
    margin:2% 0 10%;
    text-align: center;
    /*display: none !important;*/
}
.agency-btn{text-align: center;}
.agency-btn a{
    min-width:35%;
    font-weight: 600;
    /* padding: 21px 45px; */
}

/*------------------ 
* contact-us
*------------------*/
.section-contactus .section-con-txt{margin:4% 0;}
.section-contactus .section-con-txt>div{line-height: 2;}
.section-contactus .section-con-txt a{
    text-decoration: underline;
    margin-left:1%;
}
.section-con-button{ 
    /* position: absolute;bottom:0;right:0;  */
    text-align: center;
}
.section-con-button .btn-down{
    /* font-size: 1.333rem; */
    /* padding: 21px 30px; */
    margin:0 5px;
    /* padding:15px 0; */
    min-width:28%;
}
.share-group{margin:1% 0;}
.share-group img{ 
    width:50px;
    border-radius:8px;
    border:5px solid transparent;
}


/*------------------ 
* gallery
*------------------*/
.section-gallery{background: #ddd;}
.swiper-container{width:80%;}
.swiper-wrapper{height: 500px;}

.swiper-container-horizontal > .swiper-scrollbar{
    width:50%;
    margin: auto;
    left: 0;right:0;
}
.swiper-scrollbar-drag{background:rgba(255, 255, 255,.5) ;}

.swiper-button-prev,
.swiper-button-next{ background-image: none;top:40%; }
.swiper-button-prev{ left:0%; }
.swiper-button-next{ right:10%; }
.swiper-button-prev:after,
.swiper-button-next:after{ 
    font-family: 'Material Icons';
    font-size:10rem;vertical-align: middle;
    color:#fff;
    visibility: visible;cursor: pointer;
 }
.swiper-button-prev:after{content:'navigate_before'}
.swiper-button-next:after{content:'navigate_next'}

/*------------------ 
* location
*------------------*/
.section-con-map{
    width:100%;height:450px;
    background: #eee;
    /* border:1px solid #eee; */
}
.section-con-address{
    text-align: center;padding:2% 0;
    font-size:1.2rem;
    line-height: 1.54;
}

/* .img-map{ overflow: hidden; }
.img-mapBox{
    display: inline-block;
    min-width: 40%;
    height: 100%;
    vertical-align: middle;
}
.img-mapBox img{
    width:auto;
    height: 100%;
}
.section-con-address{
    display: inline-block;
    width:59%;
    font-size:1.2rem;
    line-height: 1.54;
    letter-spacing: -.05em;
    padding:5%;
    box-sizing: border-box;
    word-break: keep-all;
    text-align: left;
}
.section-con-address p:nth-child(n+3){margin-top:5%;} */


/*------------------ 
* services
*------------------*/
.services .family-logo img{width:42%;}
.services .sponsored-con-box:nth-child(3) .family-logo img{width:47%;}
.services .sponsored-con-box:nth-child(4) .family-logo img{width:80%;}
.services .sponsored-con-box:nth-child(5) .family-logo img{width:37%;}
.services .sponsored-con-box:nth-child(6) .family-logo img{width:60%;}

.family-link{ 
    padding:3% 0;
    margin-top:5%;
    text-transform: lowercase;
    font-size:1.2rem;
    font-weight: 400;
}
.family-link a{ 
    padding:4% 8%;
    border:1px solid #999;
    display: inline-block; 
}
.family-link a:first-child{margin-right:5px;}
.family-link a:hover{ 
    color:#fff;border-color:transparent;background: #ff4d4e;
    transition: transform .3s;transform: translateY(-5px);
}

/*------------------ 
* sponsored
*------------------*/
/* .section-sponsored{ 
    padding:3% 0;
} */
.family-logo{ 
    height:80px;
    position: relative; 
}
.family-logo img{ 
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin: auto; 
    width: auto; height: auto;
    max-width: 120px;
    max-height: 80px;
}
.sponsored-con-box:first-child .family-logo img{ max-width: 92px; }

/*------------------ 
* Promotion
*------------------*/
.section-promotion .box{
    width:49%;
    margin-right:2%;margin-bottom:2%;
    padding:2%;
    background: #eee;
}
.section-promotion .box:nth-child(2n){margin-right:0;}
.section-promotion .box-con{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;height: 200px;
    line-height: 1.5;
}
.section-promotion .box-con div{
    margin:auto;margin-bottom:0;margin-left:0;
}

/*------------------ 
* main award banner
*------------------*/
.link-banner{
    background: #f7f7f7;
    padding:5% 0;
    text-align: center;
}

/*------------------ 
* main award 
*------------------*/
.section-con-txt-box{
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    overflow: hidden;
    border:2px solid #eee;
    padding:3%;
    font-size: 1rem;
    word-break: keep-all;
}
.section-con-txt-box:nth-child(1){width: 69%;}
.section-con-txt-box:nth-child(2){width: 30%;border:none;}
.award-txt{margin-top:5%;}
.award-txt img{vertical-align: middle;}
.award-txt li{margin:1.5% 0;}


/* --------------------------
* 
* media query
*
*-------------------------*/
/*------- pc  */
@media screen and ( max-width:1399px ) {}
@media screen and ( max-width:1280px ) { }
@media screen and ( max-width:1140px ) { 
    h5{font-size: 1.3rem;font-weight: 600;}

    /*------- agency  */
    .agency-btn a{ min-width: 38%; }

    /*------- gallery  */
    .swiper-wrapper{height: 374px;}

    /*------- location  */
    .section-con-map{ height: 360px; }
    
}
@media screen and ( max-width:970px ){}
@media screen and ( max-width:799px ){
    .section-con-txt{ 
        font-size: 1rem;
        letter-spacing: -.05em;
    }
    h5{font-size: 1.1rem;}

    /*------- visual  */
    .visual-con-box h2{font-size: 4rem;}

    /*------- promotion  */
    .section-promotion .box-con p{
        font-size: 1rem;
        letter-spacing: -.05em;
    }
    .sess-bar .text{
        word-break: keep-all;
        font-size: .9rem;
        letter-spacing: -.05em;
    }
    .count-box{font-size: 1.2rem;}

    /*------- sponsored  */
    .family-logo img{
        max-height: 55px;
        max-width: 90px;
    }
    .sponsored-con-box:first-child .family-logo img{max-width: 58px;}

    /*------- services  */
    .services .family-logo img{width:50%;}
    .services .sponsored-con-box:nth-child(3) .family-logo img{width:56%;}
    .services .sponsored-con-box:nth-child(6) .family-logo img{width:74%;}

    /*------- Location  */
    .section-con-map{height: 320px;}
}


/*------- mobile */
@media screen and ( max-width:600px ){
    .btn-style, 
    .btn-style2, 
    .btn-style2-black, 
    .btn-down{
        padding: 10px 20px;
        font-size: 1rem;
        border-width: 1px;
    }
    .section{padding:10% 0;}

    /*------- main nav */
    header.fix+.btn-top+.main-sub-head, 
    header.fix+.btn-top+.subpage-visual+.main-sub-head{
        top:50px;
    }

    /*------- main-visual */
    .visual-con-box h2{
        font-size: 2.8rem;
        letter-spacing: -.08em;
        word-break: keep-all;
    }
    .visual-con-box .ko{ font-size: 1.5rem; }

    /*------- sub-visual */
    .subpage-visual{
        min-height: 155px;padding: 30% 0 5px;
    }

    /*------- main-banner */
    .main-banner .section-con-txt>div{
        padding: 5px 0 10px;
        font-size: 1.2rem;
    }

    /*------- award-banner */
    .link-banner-txt{font-size: 1.333rem;}

    /*------- main award  */
    .section-con-txt-box{
        font-size: .9rem;
        letter-spacing: -.1em;
        padding:3% 1.5%;
    }
    .award-txt strong{display: block;text-align: center;}
    
    /*------- synopsis */
    .synopsis .section-con-txt{ 
        letter-spacing: -.1em;
        word-break: keep-all; 
        font-size: .9rem;
    }

    /*------- promotion */
    .section-promotion .box{ 
        width: 100%;
        margin-right: 0;
        padding: 3%;
    }
    .section-promotion .box-con p{font-size: .9rem;}

    /*------- sponsored */
    .sponsored-con-box{width:33%;}
    .sponsored-con-box:first-child .family-logo img{ max-width: 68px;}
    
    /*------- agency */
    .section-con-title{font-size: 1.2rem;}
    .section-agency .section-con-box{
        width:100%;
        margin-bottom:0;
    }
    .section-agency .section-con-box:nth-child(2){margin-right:0;}
    .agency-btn a{
        min-width: 0;width:100%;
    }
    .sess-bar{ margin: 2% 0 7%; }

    /*------- gallery */
    .swiper-container{width:100%;}
    .swiper-wrapper{height: 190px;}
    .swiper-button-prev:after, .swiper-button-next:after{font-size: 4rem;}
    .swiper-button-prev, .swiper-button-next{top:48%;}

    /*------- location */
    .section-con-map{height: 190px;}
    .section-con-address{
        width:100%;padding:2% 0;
        font-size: .9rem;
        letter-spacing: -.08em;
    }
}
@media screen and ( max-width:500px ){
    /*------- ticket */
}
/* ios6/7/8 */
@media screen and (min-width: 361px) and (max-width: 375px){}
/* ios6/7/8 plus */
@media screen and (min-width: 376px) and (max-width: 414px){
    /*------- main award  */
    .section-con-txt-box{ letter-spacing: -.05em; }
}
/* ios5/se */
@media screen and (max-width: 359px){
    /*------- ticket */
    .family-link a{padding: 3% 6%;font-size: 1rem;}
    .family-link a:first-child{margin-right: 2px;}

     /*------- main award  */
     .section-con-txt-box{
        font-size: .9rem;
        letter-spacing: -.1em;
        padding:3% 1.5%;
    }
    .section-con-txt-box:nth-child(1),
    .section-con-txt-box:nth-child(2){width:100%;}
    .award-txt strong{display: inline;}
}


