*{font-family: 'Work Sans', sans-serif;font-size:1.0em;}
.subhead .bt_ticket{border:1px solid #ff0000;}
.subhead .bt_ticket span{color:#ff0000;}
.subhead .bt_ticket:hover span{color:#fff;}

article{max-width: 1000px;margin:0 auto;position: relative;z-index:1000;}
article .section_title{top:50px;background-position: center;}

.ticket_area{padding:200px 0 0;box-sizing: border-box;}
.ticket_area ul{ display:flex;
  display:-webkit-flex; display: -webkit-box; display: -ms-flexbox; display: -moz-box; }
.ticket_area ul li{margin-left:1%;vertical-align: top;width:205px;height:205px;cursor: pointer;border:1px solid #aaa;position: relative;box-sizing: border-box;overflow: hidden;}
.ticket_area ul li.first{width:15%;border:none;color:#444;font-size:1.3em;line-height:1.5em;}
.ticket_area ul li.first strong{display: block;font-size:1.4em;}
.ticket_area ul li span{display: inline-block;color:#b1b1b1;}

span.ticket_info{line-height:1.3em;height:107px;padding:10px 15px 0;box-sizing: border-box;position: relative;z-index:-1;background:#fff;}
span.ticket_info>strong{font-size:1.4em;letter-spacing: -1px;}
span.ticket_info>span{width:100%;}
span.ticket_info>span:nth-child(2){font-size: 1.1em;}
span.ticket_info>span.gray{font-size:0.8em;}

div.ticket_info{height:98px;background:#d4d4d4;position: relative;z-index:-1;padding:10px;box-sizing: border-box;}
div.ticket_info>span{line-height:1.9em;}
div.ticket_info>span strong{display: block;font-size:2.3em;color:#eaeaea;margin-right:5px;text-indent:14px;}
div.ticket_info>span strong:after{content:'\20A9';position: absolute;top:50%;right:10%;font-size:18px;}
div.ticket_info>span strong.last{line-height:2em;text-indent:8px;}
div.ticket_info>span strong.last:after{top:18%;right:10%;}
div.ticket_info>span .txt_line{font-size:1.1em;color:#eaeaea;text-decoration: line-through;margin-top:3px;text-indent:14px;}

.ticket_area ul li.on{border-color:#d02735;}
.ticket_area ul li.on span{color:#444;}
.ticket_area ul li.on .gray{color:#777;}
.ticket_area ul li.on div.ticket_info{background:#d02735;}
.ticket_area ul li.on div.ticket_info>span strong,
.ticket_area ul li.on div.ticket_info>span .txt_line{color:#fff;}


.dc_icon{display: none;}
.ticket_area ul li.on .dc_icon{display: block;position: absolute;top:-25px;right:5px;z-index:0;background:#000;width:55px;height:55px;border-radius:55px;overflow: hidden; }
.ticket_area ul li.on .dc_icon>span{color:#fff;display: block;text-align: center;width:100%;font-size:0.7em;vertical-align:bottom;line-height:1.2em;}
.ticket_area ul li.on .dc_icon>span>strong{color:#fff;display: inline-block;font-size:2.2em;margin-top:15px;}


/* .ticket_area ul li:hover{background:rgba(170,170,170,0.7);} */
.ticket_area ul li{overflow: hidden;}
.ticket_area ul li.close:after,
.ticket_area ul li:hover:after{content:'Closed';position: absolute;top:0;left:0;width:100%;height:100%;text-align: center;font-size: 2.5em;line-height:205px;color:#fff;
z-index:10;transition:1s;animation:puffIn 0.5s;background:rgba(170,170,170,0.7);}
/* .ticket_area ul li.close:after{transform: rotateZ(-45deg) translate3d(-10px,-150px,0);width:300%;height:300%;line-height:8.5em;color:#888;} */
.ticket_area ul li.on:hover{background:linear-gradient(145deg, rgba(255,51,64,0.8) 20%, rgba(111,30,140,0.8) 75%); }
.ticket_area ul li.on:hover:after{content:'GET TICKET';text-align: center;line-height:1em;font-weight: bold;white-space: pre-wrap;padding-top:30%;background:url(../images/ticket_bg01.png);}
.ticket_area ul li.first:hover{background:transparent;}
.ticket_area ul li.first:hover:after{display: none;box-sizing: border-box;}

.ticket_2day{margin-top:10px;}

.ticket_dec{width:92%;margin: 0 auto;text-align: right;padding-top:10px;}
.buy_ticket{text-align: center;margin-top:30px;}
.buy_ticket>a{display:block;width:200px;height:50px;margin: auto;line-height:50px;font-size:25px;font-weight: bold;text-transform: uppercase;}

.footer{padding:50px 0;text-align: center;}
