/* ---------------- 
*
* @ animation
* 
* ----------------- */ 
/* visual text */
.textAni{
    /* transition: all .2s; */
    animation: textAni .8s ease-in-out;
    -webkit-animation: textAni .8s ease-in-out;
    -moz-animation: textAni .8s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: forwards;
}
@keyframes textAni{
    0%{ -webkit-filter: blur(12px);filter: blur(12px);letter-spacing: 1em;opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);  }
    100%{ -webkit-filter: blur(0);filter: blur(0);opacity: 1;animation-delay: .5s;
        text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.5); }
}
@-webkit-keyframes textAni{
    0%{ -webkit-filter: blur(12px);filter: blur(12px);letter-spacing: 1em;opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    100%{ -webkit-filter: blur(0);filter: blur(0);opacity: 1;animation-delay: .5s;
        text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.5); }
}
@-ms-keyframes textAni{
    0%{ -webkit-filter: blur(12px);filter: blur(12px);letter-spacing: 1em;opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0); }
    100%{ -webkit-filter: blur(0);filter: blur(0);opacity: 1;animation-delay: .5s;
        text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.5); }
}


@keyframes slide-in-bottom{
    0%{ opacity: 0;transform: translateY(100px); }
    100%{ opacity: 1;transform: translateY(0); }
}
@-webkit-keyframes slide-in-bottom{
    0%{ opacity: 0;transform: translateY(100px); }
    100%{ opacity: 1;transform: translateY(0); }
}

@-webkit-keyframes jello-horizontal {
    0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}
    30% { -webkit-transform: scale3d(1.25, 0.75, 1); transform: scale3d(1.25, 0.75, 1); }
    40% { -webkit-transform: scale3d(0.75, 1.25, 1); transform: scale3d(0.75, 1.25, 1); }
    50% { -webkit-transform: scale3d(1.15, 0.85, 1); transform: scale3d(1.15, 0.85, 1); }
    65% { -webkit-transform: scale3d(0.95, 1.05, 1); transform: scale3d(0.95, 1.05, 1); }
    75% { -webkit-transform: scale3d(1.05, 0.95, 1); transform: scale3d(1.05, 0.95, 1); }
    100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@keyframes jello-horizontal {
    0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}
    30% { -webkit-transform: scale3d(1.25, 0.75, 1); transform: scale3d(1.25, 0.75, 1); }
    40% { -webkit-transform: scale3d(0.75, 1.25, 1); transform: scale3d(0.75, 1.25, 1); }
    50% { -webkit-transform: scale3d(1.15, 0.85, 1); transform: scale3d(1.15, 0.85, 1); }
    65% { -webkit-transform: scale3d(0.95, 1.05, 1); transform: scale3d(0.95, 1.05, 1); }
    75% { -webkit-transform: scale3d(1.05, 0.95, 1); transform: scale3d(1.05, 0.95, 1); }
    100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes focus-in-blur {
    0% { -webkit-filter: blur(12px); filter: blur(12px); opacity: 0; }
    100% { -webkit-filter: blur(0px); filter: blur(0px); opacity: 1;}
}
@keyframes focus-in-blur {
    0% { -webkit-filter: blur(12px); filter: blur(12px); opacity: 0; }
    100% { -webkit-filter: blur(0px); filter: blur(0px); opacity: 1;}
}

@-webkit-keyframes focus-in{
    0% { -webkit-transform: translateZ(600px); transform: translateZ(600px); opacity: 0; }
    100% { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1; }
}
@keyframes focus-in{
    0% { -webkit-transform: translateZ(600px); transform: translateZ(600px); opacity: 0; }
    100% { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1; }
}

@-webkit-keyframes bounce-in-top {
    0% {-webkit-transform: translateY(-500px);
                transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0; }
    38% { -webkit-transform: translateY(0);transform: translateY(0);
          -webkit-animation-timing-function: ease-out;animation-timing-function: ease-out; opacity: 1; }
    55% { -webkit-transform: translateY(-65px); transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
    72% { -webkit-transform: translateY(0); transform: translateY(0);
          -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
    81% { -webkit-transform: translateY(-28px); transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
    90% { -webkit-transform: translateY(0); transform: translateY(0);
          -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
    95% { -webkit-transform: translateY(-8px); transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
    100% { -webkit-transform: translateY(0); transform: translateY(0);
           -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
}
@keyframes bounce-in-top {
    0% {-webkit-transform: translateY(-500px);transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;opacity: 0; }
    38% { -webkit-transform: translateY(0);transform: translateY(0);
          -webkit-animation-timing-function: ease-out;animation-timing-function: ease-out; opacity: 1; }
    55% { -webkit-transform: translateY(-65px); transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
    72% { -webkit-transform: translateY(0); transform: translateY(0);
          -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
    81% { -webkit-transform: translateY(-28px); transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
    90% { -webkit-transform: translateY(0); transform: translateY(0);
          -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
    95% { -webkit-transform: translateY(-8px); transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }
    100% { -webkit-transform: translateY(0); transform: translateY(0);
           -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
}

@-webkit-keyframes roll-in-blurred-bottom {
    0% { -webkit-transform: translateY(800px) rotate(720deg);transform: translateY(800px) rotate(720deg);
        -webkit-filter: blur(50px); filter: blur(50px); opacity: 0; }
   100% { -webkit-transform: translateY(0) rotate(0deg); transform: translateY(0) rotate(0deg); opacity: 1; }
}
@keyframes roll-in-blurred-bottom {
    0% { -webkit-transform: translateY(800px) rotate(720deg);transform: translateY(800px) rotate(720deg);
         -webkit-filter: blur(50px); filter: blur(50px); opacity: 0; }
    100% { -webkit-transform: translateY(0) rotate(0deg); transform: translateY(0) rotate(0deg); opacity: 1; }
}
  
@-webkit-keyframes swing-in-top-fwd {
    0% { -webkit-transform: rotateX(-100deg); transform: rotateX(-100deg);
         -webkit-transform-origin: top; transform-origin: top; opacity: 0; }
    100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg);
           -webkit-transform-origin: top; transform-origin: top; opacity: 1; }
}
@keyframes swing-in-top-fwd {
    0% { -webkit-transform: rotateX(-100deg); transform: rotateX(-100deg);
         -webkit-transform-origin: top; transform-origin: top; opacity: 0; }
    100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg);
           -webkit-transform-origin: top; transform-origin: top; opacity: 1; }
}

@-webkit-keyframes flip-in-ver-right {
    0% { -webkit-transform: rotateY(-80deg); transform: rotateY(-80deg); opacity: 0; }
    45% { -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); opacity: 1; }
    100% { -webkit-transform: rotateY(0); transform: rotateY(0); opacity: 1; }
}
@keyframes flip-in-ver-right {
    0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); opacity: 0; }
    45% { -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); opacity: 1; }
    100% { -webkit-transform: rotateY(0); transform: rotateY(0); opacity: 1; }
}

@-webkit-keyframes shake-vertical {
    0%, 100% { -webkit-transform: translateY(0); transform: translateY(0); }
    10%, 30%, 50%, 70% { -webkit-transform: translateY(-8px); transform: translateY(-8px); }
    20%, 40%, 60% { -webkit-transform: translateY(8px); transform: translateY(8px); }
    80% { -webkit-transform: translateY(6.4px); transform: translateY(6.4px); }
    90% { -webkit-transform: translateY(-6.4px); transform: translateY(-6.4px); }
}
@keyframes shake-vertical {
    0%, 100% { -webkit-transform: translateY(0); transform: translateY(0); }
    10%, 30%, 50%, 70% { -webkit-transform: translateY(-8px); transform: translateY(-8px); }
    20%, 40%, 60% { -webkit-transform: translateY(8px); transform: translateY(8px); }
    80% { -webkit-transform: translateY(6.4px); transform: translateY(6.4px); }
    90% { -webkit-transform: translateY(-6.4px); transform: translateY(-6.4px); }
}
@-webkit-keyframes scale-down-ver-top {
    0% { -webkit-transform: scaleY(1); transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;transform-origin: 100% 0%; }
    100% {-webkit-transform: scaleY(0.3);transform: scaleY(0.3);
      -webkit-transform-origin: 100% 0%;transform-origin: 100% 0%; }
}
@keyframes scale-down-ver-top {
  0% {-webkit-transform: scaleY(.3); transform: scaleY(.3);
    -webkit-transform-origin: 100% 0%;transform-origin: 100% 0%; }
  100% {-webkit-transform: scaleY(1); transform: scaleY(1);
    -webkit-transform-origin: 100% 0%; transform-origin: 100% 0%; }
}

@keyframes rotate {
    0% {-webkit-transform: rotate(0); transform: rotate(0);
      -webkit-transform-origin: center;transform-origin: center; }
    100% {-webkit-transform: rotate(180deg); transform: rotate(180deg);
        -webkit-transform-origin: center;transform-origin: center; }
    100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);
       -webkit-transform-origin: center;transform-origin: center; }
  }