.section-con-box li{
    padding:2% 1%;margin:0;
    border-bottom:1px solid #dbdbdb;
    display: flex;display:-webkit-flex;display:-ms-flex;
}
.section-con-box li span{ font-size: 1.125rem; }

.section-timeline{position: relative;}
.section-title-btn{position: absolute;top:-30px;right:0;margin-bottom:0;}
.section-title-btn a.btn-style2{ 
    margin-top:0;padding: 20px 70px;
    font-weight: 400;
    font-size: 1.2rem;
}
.section-timeline h3{ 
    text-transform: uppercase;border-bottom:4px solid #111;
    padding-bottom:2%;
    margin-bottom:0; 
}
.sess-time{width:10%;/*flex:1;*/font-weight: 700;}
.sess-txt{
    width:60%;/*;flex:4;*/padding:0 1%;
    box-sizing: border-box;position: relative;word-break: keep-all;
}
.sess-user{width:30%;/*flex:2;*/}

.section-timeline .section-con-box:first-child{margin-bottom:10%;}
.sess-user-job{margin-right:2%;color:#444;}
.sess-user-name {}
.sess-user-name::before {
    content: '';display:inline-block;
    width: 1px;height: 17px;background: #ccc;
    vertical-align: middle;
    margin-right:2%;
}

.breakTime .sess-txt{
    width:70%;/*flex:5;*/
    text-transform: uppercase;text-align:center;
}
.breakTime .sess-user {display:none;}
.breakTime .sess-user .sess-user-name::before {display:none;}
#day2{margin-top:13%;}
#day2 .section-con-txt li:nth-child(9) .sess-txt{word-break: break-all ;}


/****** Media Query *************/
/* pc ----------------*/
@media screen and ( max-width:1399px ){}
@media screen and ( max-width:1140px ){}
@media screen and ( max-width:970px ){
    .sess-txt{ font-size: 1.33rem; }
}
/* tab ----------------*/
@media screen and ( max-width:799px ){}
/* mobile ----------------*/
@media screen and ( max-width:600px ){
    .container{width:90%;}
    .subpage-visual{
        min-height: 120px;
        background: url(/2019/images/subbg.jpg) no-repeat;
        background-size: cover;
    }
    .subpage-visual .section-title{margin-top:45%;color:#fff;}
    /* .section-title{margin-top:7%;} */

    .section-timeline{margin-top:10%;}

    .section-timeline .section-con-box li{ align-items: center; }
    .section-con-box li span{font-size: 1rem;word-break: keep-all;}
    .section-timeline h3{ font-weight: 400;font-size: 1.375rem;margin-top:5%; }
    .section-timeline .section-con-txt+h3{margin-top:10%;}

    .section-title.section-title-btn{margin-top:0;top:-20px;}
    .section-title-btn a.btn-style2{padding: 15px 28px;font-size:.9rem;}
    
    .section-con-box li{display: inherit;padding:5% 0;}
    .section-con-box li>span{vertical-align: middle;display: inline-block;}
    .section-con-box li>span>span{font-size: .9rem;}
    .sess-time{width:18%;}
    .sess-txt{width:80%;padding:0 2%;}
    .sess-user{
        width:80%;margin-left:20%;display:block;
        border-top:1px dotted #ddd;
        margin-top:3%;
        padding-top:3%;
        color: #777;
    }
    .breakTime .sess-txt{margin:0;padding:0;width:80%;}
}
@media screen and ( max-width:500px ){
    .section-con-txt{font-size: .9rem;margin: 0;width: 100%;}
    .box-con-txt p{font-size: .9rem;}
    .section-title{font-size:1.5rem;}
    .section-con-box li span{font-size: .9rem;}
}
/* ios7/8/8+ */
@media screen and (min-width: 374px) and (max-width: 414px){
    .container{width:87%;}
}
/* ios5/se */
@media screen and (max-width: 359px){
    .section-con-box li span,
    .section-con-box li>span>span{font-size: .8rem;}
}
