/* 소개 아이콘 */
.section-conBox .card{ 
    box-shadow:none;
    margin-bottom:5rem; 
}
.section-conBox .card .card-image{ 
    height: 180px;
    position: relative;
}
.section-conBox .card .card-image img{
    width:auto;border-radius:0;
    margin:0 auto;
    position: absolute;top:initial;bottom:0;
}

.section-conBox .card .card-image::after{
    content:'';
    position: absolute;bottom:0;left:0;right: 0;margin: auto;
    width:auto;height: 100%;
    z-index:20;
    background-size:contain !important;
}


.infographicsBox {margin:7% auto 2%;}
/* .infographicsBox .col.s4{width:20%;opacity: 0;} */
.infographicsBox .card { margin:10% 0;position: relative;}
.infographicsBox .card:after{
    content:'navigate_next';
    font-family: 'Material Icons';
    position: absolute;top:20%;right:-5%;bottom:0;
    font-size: 3rem;
    color:#ddd;
}
.infographicsBox .info-icon:last-child .card:after{display:none;}
.infographicsBox .info-icon{opacity: 0;}
.infographicsBox .card .card-image{height: 150px;}
.infographicsBox .card .card-image img{height:90%;}
.infographicsBox .section-con-bottom-box{margin-bottom:4%;}
.infographicsBox .section-con-bottom-box .card .card-content p span{ font-size: 1.125rem; }

.infographicsBox .info-icon.move{ transform: rotateY(360deg);transition: .3s;}
.infographicsBox .info-icon.move:nth-child(1){ opacity:1; }
.infographicsBox .info-icon.move:nth-child(2){ transition-delay: .2s;opacity:1;  }
.infographicsBox .info-icon.move:nth-child(3){ transition-delay: .3s;opacity:1;  }
.infographicsBox .info-icon.move:nth-child(4){ transition-delay: .4s;opacity:1;  }
.infographicsBox .info-icon.move:nth-child(5){ transition-delay: .5s;opacity:1;  } 

.link-button-box{margin-top:0;}
.link-button-box.first{margin-bottom:20%;}

.section-con-text{word-break: keep-all;}
.link-button-box .btn-style{display: inline-block;}



@media only screen and (max-width:1280px){
    .infographicsBox .section-con-bottom-box .card .card-content p span{ font-size: 1rem; }
    .infographicsBox .card:after{
        top:20%;right:0;
        font-size: 2.4rem;
    }
} 

@media only screen and (max-width:799px){
    .partner-con{padding-top:7rem;}
    .infographicsBox{margin-top: 10rem;}
    .section-conBox .card{margin-bottom:2rem;}
    .infographicsBox .card:after{
        top:20%;right:-8%;
        font-size: 2.4rem;
    }
    .infographicsBox .card .card-image{height: 100px;}

    .infographicsBox .col.s4{width:33%;}
    .infographicsBox .section-con-bottom-box .card .card-content p span{ font-size: 1.2rem; }

} 

@media only screen and (max-width: 665px){
    .card .card-content{line-height: 1;}

    .partner-con{padding-top:5rem;}
    .partner-con .card .card-image img{width:auto;height: 100%;}
    .infographicsBox .card:after{
        right:-5%;font-size: 2rem;
    }
    
    .section-conBox .card .card-image{height:110px;}
    .partner-con .card .card-content p span { font-size: .8rem;word-break: keep-all; line-height: 1.5;}
    
    .infographicsBox{margin-top:7rem;}
    .infographicsBox .section-con-bottom-box .card .card-content p span{line-height: 1;}

    /* .section-con-text.partner-con-text.last-text{ word-break: keep-all; } */

    /* BoxIconInfo */
    .infographicsBox .col.s4{width:33%;}
    .infographicsBox .card{ margin:0;padding:0;}
    .infographicsBox .section-con-bottom-box .card .card-content p span{
        font-size: .875rem ;/*14px*/
    }

    .partner-con .infographicsBox .card{margin-bottom:30px;}

}

@media only screen and (max-width: 500px){
    .link-button-box .btn-style{font-size: 1rem;}
    .section-conBox .card .card-image{height:100px;}
}   

@media only screen and (max-width: 320px){
    .section-con-text{font-size: .9rem;}
    .infographicsBox .card:after{right:-8%;}
    .infographicsBox .section-con-bottom-box .card .card-content p span{font-size: .75rem;}
}