.section-award-coming{
    background: #fff;
    position: relative;
}

.award-coming-box{
    text-align: center;
}

.award-coming-box.bottom{
    display: flex;
    justify-content: center;
}
.award-coming-box.bottom>div{
    width: 30%;margin: auto;margin-top:5%;
}
.awrad-con-box{margin-top:3%;}

.award-coming-box .box-title-img{
    text-align: left;
    background: #eee;
    padding:5% 2%;
}
.award-coming-box.bottom .box-title-img{
    font-size: .9rem;
    padding:10% 2%;
}
.award-coming-box .award-box{
    padding:3% 2%;
    background: #ccc;
}

.award-coming-box .award-day{
    text-align: left;
    font-size: .9rem;
    text-transform: capitalize;
}
.award-coming-box .award-logo{
    position: relative;
    height: 100px;    
}

.award-coming-box .award-logo img{
    position: absolute;
    top:0;left: 0;bottom:0;right:0;
    width: auto;height: auto;margin: auto;
    max-width: 120px;
    max-height: 90px;
}
.section-award-coming .award-coming-txt{margin-top: 7%;}
.section-award-coming .award-txt{margin-top: 3%;}
/* 
.section-award-coming .container{
    width: 80%;
    position: relative;
    z-index: 1;
}
.section-award-coming .box-title-img+:after{display: none;}


.section-award-coming .section-con-title {
    width:100%;line-height: 1.4;letter-spacing: -.07em;
}
.section-award-coming .section-con-title span{ 
    font-size:4rem;
    text-transform: capitalize;
    position: relative; 
}
.section-award-coming .section-con-title span:after{
    position: absolute;bottom:0;left:0;
    content:'';
    width:100%;height: 3px;
    background:#ff4d4e;
}
*/
/* 상 박스 베이스 */
/* .awrad-con-box .award-box{
    width:100%;
    text-align: center;
    padding:5%;box-sizing: border-box;
    position: relative;
    border:3px solid #ddd;
} */
/* .award-coming-box{width:100%;margin:auto;} */

/* 모비데이즈상 */
/* .award-coming-box.top{margin-top:3%;}
.awrad-con-box.win .award-day{display: none;}
.awrad-con-box.win{position: relative;}

.awrad-con-box.win .award-box::before{
    content:'';
    position: absolute;top:0;left: 0;
    width:100%;height:100%;
    border:9px solid #e4cf77;
}
.awrad-con-box.win .box-title-img {
    width:30%;
    line-height: 1.5;
    font-size: 1.867rem; 
} */


/* 플로우/애드저스트/싱귤러상 */
/* .award-coming-box.bottom{ 
    display: flex;display: -webkit-box;display: -webkit-flex;
    margin-top:3%;margin-bottom:11%;
}
.award-coming-box.bottom>div{ 
    width:32%;
    margin: auto;
    margin-top:0;margin-left:0; 
}
.award-coming-box.bottom>div:last-child{margin-right:0;}

.award-coming-box.bottom .box-title-img {
    width:100%;
    line-height: 1.5;
    font-size: 1.333rem;
}


.award-coming-box.bottom .awrad-con-box:last-child .box-title-img{
    display:none;
}
.awrad-con-box:last-child{margin-top:5%;}


.award-coming-box.bottom .award-logo{
    height:100px;margin:3% 0;position: relative;
}
.award-coming-box.bottom .award-logo img{
    height:100%;
    position: absolute;top:0;left: 0;right:0;bottom:0;
    margin: auto;
}
.award-coming-box.bottom .award-day{
    text-transform: capitalize;font-size: 1.125rem;
    position: absolute;top:10px;left:10px;
}
.award-coming-box.bottom .award-name{line-height: 2;}

.awrad-con-box.award2:nth-child(1) .award-logo img{width:60%;height: auto;}
.awrad-con-box.award3:nth-child(1) .award-logo img{width:60%;height: auto;}
.awrad-con-box.award3:nth-child(2) .award-logo img{width:40%;height: auto;} */




/****** Media Query *************/
/* pc ----------------*/
@media screen and ( max-width:1399px ){}
@media screen and ( max-width:1280px ){}
@media screen and ( max-width:1140px ){}
@media screen and ( max-width:970px ){}
/* tab ----------------*/
@media screen and ( max-width:799px ){}
/* mobile ----------------*/
@media screen and ( max-width:600px ){
    .award-coming-box .award-logo img{
        max-width: 76px;
        max-height: 44px;
    }
    .awrad-con-box.win .award-logo img{
        max-height: 76px;
    }
    .award-coming-box.bottom .award-logo{height: 65px;}
    .award-name{font-size: .8rem;}
    .section-award-coming .award-txt{
        font-size: .9rem;
        line-height: 1.2;
        letter-spacing: -.05em;
    }
}
@media screen and ( max-width:500px ){}
/* ios7/8/8+ */
@media screen and (min-width: 374px) and (max-width: 414px){}
/* ios5/se */
@media screen and (max-width: 359px){}



/*--------------------
*  Animation
--------------------*/
@-webkit-keyframes tracking-in-contract {
    0% {letter-spacing: .5em; opacity: 0;}
    40% {opacity: 0.6;}
    100% {letter-spacing: normal;opacity: 1;}
}
@keyframes tracking-in-contract {
    0% {letter-spacing: .5em;opacity: 0;}
    40% {opacity: 0.6;}
    100% { letter-spacing: normal; opacity: 1;}
}

@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}
@keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}
  

@-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
}
@keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
}