/* --------------------------
* header - basic
*-------------------------*/
header{
    position: fixed;
    top: 0;left:0;right: 0;
    z-index: 1000;
    background: rgba(255,255,255,.1);
}
.head{padding:5px 0;}

/*------ 종료 안내 띠배너 */
.head-banner{
    height:80px;
    background: #111;
    font-size: 1.2rem;/*18px*/
}
.head-banner .container{ 
    display: flex;display:-webkit-flex;display:-ms-flex;
    height: 100%;
    color: #fff;
}
.head-banner .container span{
    margin: auto;
    word-break: keep-all;
    letter-spacing: -.05em;
}
.head-banner .container a{margin: auto;}


/*------ 로고 */
.head-logo{ width:35%;margin-right:auto;text-align: left; }
.head-logo span{display: inline-block;vertical-align: middle;}
.head-logo-img{
    width:27%;height:80px;
    text-align: left;
    background: url(https://maxthecreative.co/images/mtc-logo.png) no-repeat;
    background-size:90%;
    background-position-y:50%;
}
.head-logo-txt{
    line-height: 1.2;
    text-align: left;
    font-size:1.375rem;/*20px*/
    margin-left:7px;
    color: #111;
}

/*------ gnb */
.tab{ 
    font-size: 1.2rem;/*18px*/
    text-transform: uppercase; 
}
.head-contents ul:not(.browser-default) > li{ 
    margin-right:0;
    margin-left: 15px; 
}
.head-con-navi i{font-size: 2.5rem;}
.head-con-navi li a{ 
    border-color:#111;
    /* border-width: 1px; */
    font-weight: 400;
    color:#111;
    box-sizing: border-box; 
}
.head-con-navi li a.btn-style{ font-weight: 600;}

/*---------- head fixed */
header.fix{
    position: fixed;
    background: rgba(255,255,255,1);
    box-shadow:2px 0 5px rgba(0,0,0,.4);
    animation:.2s fix;
}
header.fix .head-btn a:hover{ border-color:transparent; }



.pc{display:block;}
.mobile{display: none;}


/* --------------------------
* footer
*-------------------------*/
footer{
    background-color:#111;
    padding:3.5% 0;
    font-family: 'SpoqaHanSans';
    letter-spacing: -1.2px;
    font-size: 1.2rem;
    position: relative;
}
footer div{ color:#666; }
footer div span{ display: inline-block;width:70%; }
footer div a{ display: inline-block;font-size: 1.333rem;color:#999; }



/* --------------------------
* 
* media query
*
*-------------------------*/
/*------- pc  */
@media screen and ( max-width:1399px ) {
    /*------- header  */
    .head-logo-img{width: 30%;}

}
@media screen and ( max-width:1280px ) { 
    /*------- header  */
    .head-logo-txt,
    .head-banner,
    .head-banner .btn-style{ font-size: 1rem; }

}
@media screen and ( max-width:1140px ) { 
    /*------- header  */
    .head-banner{ font-size: .9rem; }
    .head-logo-img{width: 35%;}
    .tab{font-size: 1rem;}
    .head-con-navi i{font-size: 2rem;}
    .head-con-navi li a{ font-size: 1rem;}

    header.fix .head-logo-txt{margin-left:.5%;}

}
@media screen and ( max-width:970px ){
    /*------- header  */
    .head-banner .btn-style{border-width: 1px;}
    .head-contents ul:not(.browser-default) > li{ margin-left: 5px;}
    header.fix .head-logo-txt{font-size: 1rem;}

}
@media screen and ( max-width:799px ){
    /*------- header  */
    .head-banner span.mobile{display: none;}

    .head-logo{width:50%;margin-left:3%;}
    .head-logo-img{width:30%;}
    .head-logo-txt{ font-size: 1.1rem;}
   
    .mobile-gnb{display: none;}
    .mobile-gnb-btn{display: block;margin-right:3%;}
    .mobile-gnb-btn i.large{color:#111;font-size:3rem;}

    .dropdown-content{
        width:200px !important;height:100vh !important;
        background:rgba(255,255,255,1);
        box-shadow:0 5px 5px rgba(0,0,0,.3);
        left:inherit !important;
        right:0;
        top:0 !important;
        overflow-x: hidden;
    }
   .dropdown-content::before{
        content: '\2716';
        position: absolute;top:16px;left:16px;
        width:25px;height: 25px;line-height:25px;
        font-size:1.6rem;color:#111;
        overflow: hidden;
        z-index: 100;
    }
    .dropdown-content li > a, 
    .dropdown-content li > span{
        color:#111;  
    }
    .dropdown-content.tabs .tab a.i-facebook:hover img{
        filter:invert(0) sepia(0) saturate(0) hue-rotate(0deg); 
        -webkit-filter:invert(0) sepia(0) saturate(0) hue-rotate(0deg); 
    }
    .head-contents ul:not(.browser-default) > li{ margin-left:40px;}

    /* header.fix .dropdown-content{top:0px !important;} */


}


/*------- mobile */
@media screen and ( max-width:600px ){
    .mobile, .btn-mobile{ display: block !important; }
    .pc{display: none !important;}

    /*-------- header  */
    .head-banner{height:50px;}
    .head-banner .container{width:100%;}
    .head-banner span{
        width:68%;line-height: 1.4;
        font-size: .8em;
    }
    .head-banner .btn-style{
        width:auto;padding:10px 7px;
        font-size: .8em;
    }

    .head.container{width:95%;}
    .head-logo{ margin: auto;width:40%; }
    .head-logo-img{
        width:57%;
        margin-left:15%;
        height:45px;
    }
    .head-logo-txt{display: none !important;}


    .head{position: relative;}
    .head-contents{
        position: absolute;
        top:0;left: 0;right:0;z-index: 10;
    }
    .mobile-gnb-btn{
        position: absolute;top:8px;left:0;
    }
    .mobile-gnb-btn i{font-size:2.5rem !important;}
    .mobile-gnb{ cursor: pointer !important; }

    
    .head-btn{
        position: absolute;
        top:11px;right:0;
    }
    .head-btn .btn-style{ 
        font-size: 1rem;
        color:#111;
        border-color:#888;
        padding:.5rem .8rem;
    }

    .tabs{height: 40px;}
    .tabs .tab{margin-top:0;cursor: pointer;}
    .tabs .tab a{height: 40px;line-height: 40px;font-size: .9rem;}

    .dropdown-content{ 
        width:100vw !important;
        height:auto !important;
        top:0 !important;
        left:-2.5% !important;
        padding:5% 0;
    }  
    .dropdown-content li{
        height: 35px !important;
        width: 76%;
        text-align: center;
    }
    .dropdown-content li > a { text-transform: uppercase; }

    header.fix .head-logo-img{width:60%;}

    /*-------- footer  */
    footer span{font-size: .875rem;}
    footer div a{
        position: absolute;
        top:20%;left:0;right:0;
        font-size: 1.125rem;
    }  

    
}
@media screen and ( max-width:500px ){}
/* ios6/7/8 */
@media screen and (min-width: 361px) and (max-width: 375px){}
/* ios6/7/8 plus */
@media screen and (min-width: 376px) and (max-width: 414px){
    /*-------- header  */
    .head-banner .container a{margin-left:6%;}

}
/* ios5/se */
@media screen and (max-width: 359px){
    /*-------- header  */
    .head-banner .container span{ 
        font-size: .7em;
        letter-spacing: -.1em;
    }

}


