@charset "utf-8"; 

@font-face {
    font-family: 'SpoqaHanSans';
    src: url(../fonts/Spoqa Han Sans Bold.woff) format('woff');
    font-weight: 800;
}
@font-face {
    font-family: 'SpoqaHanSans';
    src: url(../fonts/Spoqa Han Sans Light.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'SpoqaHanSans';
    src: url(../fonts/Spoqa Han Sans Regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'SpoqaHanSans';
    src: url(../fonts/Spoqa Han Sans Thin.woff) format('woff');
    font-weight: 100;
}



/* ---------------- 
*
* @ RESET CSS 
* 
* ----------------- */ 
html, body, div, p, span, strong, b, em, iframe, pre, 
h1, h2, h3, h4, h5, h6, 
img, dl, dt, dd, 
fieldset, form, legend, label, 
table, caption, thead, tbody, tfoot, tr, th, td, 
ul, ol, li, 
a, input, select, textarea {
    margin: 0;padding: 0; border: 0 none; 
} 
body {
    font-family: MalgunGothic, '맑은 고딕','돋움', Dotum, AppleGothic, Sans-serif, Arial; 
    font-size: 15px; 
    line-height: 1;color: #333;
} 
ul, ol, li {list-style: none;margin:0;padding:0;} 
em, address {font-style: normal;} 
img {border: 0 none; font-size: 0;line-height: 0;} 
sup {position: relative;top: 2px;font-size: 11px;line-height: 100%;} 
table {border-collapse: collapse; border-spacing:0; } 
caption {overflow: hidden;width: 0;height: 0;font-size: 0; line-height: 0;} 
th, td { vertical-align: middle;/* white-space: nowrap */} 
a {color: #333; text-decoration: none; line-height: 1;} 
a:hover, a:focus, a:active {text-decoration: underline;text-decoration: none; } 
/* a:visited {color: #333;}  */
*, html { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.blind{display: none;}


/* --------------------------
* 
* 공통 
*
--------------------------*/
/* font style */
* { 
    /* font-family: 'Montserrat','Spoqa Han Sans', 'Spoqa Han Sans JP', 'Work Sans','Sans-serif';  */
    font-family: 'Montserrat','SpoqaHanSans', 'Work Sans', AppleGothic,'Sans-serif',Arial; 
    color:#dfdfdf;
}
a{ color:#dfdfdf; }
.font-color-dark{ color:#111; }
.b{ font-weight: bold;}

body{ 
    background: rgba(0,0,0,1); 
    position: relative;
}

/* button */
.btn-style{
    margin-top:2.2rem;
    display: block;
    border-radius: 0;
    border: solid 4px #fff;
    background: none;
    padding:1.7rem 0;
    font-family:'Montserrat';
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
    box-sizing: border-box;
    text-align: center;
}
.btn-style2{
    display: inline-block;
    border: solid 4px #ff4d4e;
    font-family: 'SpoqaHanSans';
    font-size: 1.8rem;
    font-weight: bold;
    padding:1.7rem 3rem;
    letter-spacing: -1px;
    margin-top:2%;

    position: relative;
    z-index: 1;
    transition:all 0.9s, color 0.3;
}

.btn-gray{
    border-color:rgba(180, 176, 176,.3);
    color: rgba(119, 119, 119, 0.8);
    background: rgba(180, 176, 176,.3);
    cursor:initial;
}

a.waves-effect:focus,
a.waves-effect:active{ }
/* .btn-style.waves-effect.waves-purple:hover { background-color: rgba(131, 60, 177, .5); } */
.btn-style2.waves-effect.waves-red:hover { background-color: rgba(255, 77, 78, .5); }

/* pc에서 생략 */
.mobile, .btn-mobile{ display:none; }



/* --------------------------
* 
* header 
*
--------------------------*/
header{
    position: absolute;
    top: 0;left:0;right: 0;
    z-index: 1000;
}
.head{ 
    height: 0;
    padding:2% 0 1%;
    box-sizing: border-box;
}
.head-logo{
    left:1%;top:0;
    width:150px;height:50px;
    background: url(../images/mtc-logo-w.svg) no-repeat;
    background-size:100%;
    background-position: 50%;
    transform: translateY(50%)
}

/* .head-logo img { filter: invert(1) sepia(1) saturate(0) hue-rotate(300deg); } */

/**** materialize style *****/
nav{
    text-align: center;
    background: none;
    box-shadow: none;
}
.tabs{ 
    background: none;width:auto; clear: both;
    width:80%;
    display: flex;
    display:-webkit-flex;display:-ms-flex;
}
nav ul li{ 
    /* padding:0 6%;  */
    cursor: pointer;
    flex: 1;
    -webkit-box-flex: 1;-ms-flex: 1;
}
nav + a.btn-style.col{
    padding:0;margin:0;
    /* transition:all .3s; */
}
.tabs .tab a{ 
    line-height: 48px; 
    color: #fff;
    box-sizing: border-box;
}

.tabs .tab a.i-facebook img{ 
    width:28%;vertical-align: middle;
    /* filter: invert(1) sepia(1) saturate(0) hue-rotate(300deg); */
    -webkit-filter: invert(1) sepia(1) saturate(0) hue-rotate(300deg);
}

.tabs .tab a:hover,
.tabs .tab a:focus, 
.tabs .tab a.active, 
.tabs .tab a:focus.active{
    color:#fff;
    font-weight: bold;
    background: transparent;
    text-decoration-line: underline;
}

.tabs .tab:last-child a{ margin-top:0;border-width:1px; }
.tabs .tab.fixbtn{ display: none; }

/******************** 
* 
* body scroll - head fixed 
*
********************/
header.fix{
    position: fixed;
    background: rgba(255,255,255,1);
    box-shadow:2px 0 5px rgba(0,0,0,.78);
    animation:.2s fix;
}
header.fix .head-end{display:none;}
header.fix .head{ 
    padding:0;
    height:auto; 
    box-sizing: border-box;
}
header.fix .head.row{margin-bottom:0;}
header.fix .head-logo{
    width:110px;top:0;
    background:url(../images/mtc-logo.svg) no-repeat;
    background-size:120%;
    background-position: 50%;
    transform: translateY(0)
}
/* header.fix .head-logo img { 
    filter: invert(0) sepia(0) saturate(5) hue-rotate(0deg);
    -webkit-filter: invert(0) sepia(0) saturate(5) hue-rotate(0deg);
} */
header.fix nav + a.btn-style.col{ 
    display: block;
    padding: .6rem .5rem;
    border-color:#ff4d4e;
    border-width: 2px;
    color: #ff4d4e;
    font-weight:bold;
    font-size: 1.4rem;
}
header.fix .nav-wrapper{margin-top:12px;}

header.fix .tabs .tab a.i-facebook img{ 
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    /* filter: grayscale(0.1) sepia(0.1) saturate(0.1) hue-rotate(31deg) invert(0.1);  */
    -webkit-filter: grayscale(0.1) sepia(0.1) saturate(0.1) hue-rotate(31deg) invert(0.1); 
}


header.fix nav li.tab a,
header.fix .tabs .tab a:hover, 
header.fix .tabs .tab a:focus,
header.fix .tabs .tab a.active,
header.fix .tabs .tab a:focus.active{ color:#111; }

header.fix .tabs .tab a.btn-style{ border: solid 1px #ff4d4e;color:#ff4d4e; }
/* header.fix .tabs .tab a.btn-style.active{ background:#ff4d4e;color:#fff; } */

.tabs .tab.mobile{display: none;}

@keyframes fix{
    from{ opacity: 0;transform: translateY(-100px); }
    to{ opacity: 1;transform: translateY(0); }
}


/****************************************************************************************/

/***** top btn ******/
.btn-top{
    position:fixed;
    z-index:9999;
    right:7%; bottom:30px;
    width:90px; height:90px;
    border-radius:90px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition:all .3s;
}
.btn-top-txt{
    display: inline-block;
    width:100%;
    text-align: center;
    width:84px; height:84px;
    line-height: 84px;
    border-radius:90px;
    margin:3px;
    font-family: 'SpoqaHanSans';
    font-size:2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    background: #fff;
    transition: all .3s;
    border:1px solid #fff;
    box-shadow:0 0 .03em rgba(200, 46, 214,.3);
}
.btn-top-txt:hover{
    color:rgba(223,46,58,1);
    box-shadow:0 0 .07em rgba(200, 46, 214,.6);
}
.btn-top-txt:hover:before,
.btn-top-txt:hover:after{
    content: '';
    position: absolute;
    z-index: -100;
    width:100%; height:100%;
    border-radius:100px;
    animation: 1s topAni1 infinite;
    -webkit-animation: 1s topAni1 infinite;
    -moz-animation: 1s topAni1 infinite;
    background:linear-gradient(120deg, rgba(223,46,58,1) 25%, rgba(112,30,139,1) 75%);
}
@keyframes topAni1 {
    0% { top: -5px;left: 0;  }
    12% { top: -2px;left: 2px;  }
    25% { top: 0;left: 5px;  }
    37% { top: 2px;left: 2px; }
    50% { top: 5px; left: 0; }
    62% { top: 2px; left: -2px;  }
    75% { top: 0;left: -5px; }
    87% { top: -2px;left: -2px; }
    100% { top: -5px;left: 0;  }
}
@-webkit-keyframes topAni1 {
    0% { top: -5px;left: 0;  }
    12% { top: -2px;left: 2px;  }
    25% { top: 0;left: 5px;  }
    37% { top: 2px;left: 2px; }
    50% { top: 5px; left: 0; }
    62% { top: 2px; left: -2px;  }
    75% { top: 0;left: -5px; }
    87% { top: -2px;left: -2px; }
    100% { top: -5px;left: 0;  }
}
/* //top btn */


/* --------------------------
* 
* visual 
*
--------------------------*/
.container{ 
    width:80%; 
    /* color:#eee; */
}
.visual{
    position: relative;
}
/****** bg : visual ******/
.visual:before,
.visual:after{
    content:'';
    position: absolute;
    top: 0;left:0;right:0;bottom:0;
}
.visual:before{
    background: url(../images/bg_box.png) no-repeat ;
    background-position: 100% 100%;
    background-size:110%;
    z-index: -1;
}
.visual:after{  
    background: url(../images/max_bg.png) no-repeat;
    background-position: 0 50%;
    background-size:cover;
    height:110vh;
    opacity: .8;
    z-index: -2;
}

/******* bg box [ 1~4 :visual / 5~9 :참여대상 ] ********/
.con-box-bg,
.section-con-box{
    position: relative;
    /* max-width:1200px !important; */
    /* width:100% !important; */
    width: 100%;
    max-width: 100%;
}
.section-con-box .con-box-bg{
    position: absolute;top: 0;left: 0;right:0;bottom:0;
}
.bg-box {position: absolute;}
.visual-con-bg{position: absolute;top: 0;left: 0;right:0;bottom:0;}
.visual-con-bg .bg-box{ width:9.7%; }
/* .bg-box.bg-box2{ width:10%; } */
.visual-con-bg .bg-box1{ top:57%;left:37%;z-index: 1;  opacity: 0;}
.visual-con-bg  .bg-box2{ top:25%;left:-2%;width:12.5%;}
.bg-box3{ top:67vh;left:-10vw;transform: rotate(-30deg); opacity: 0;}
.bg-box4{ top:45vh;right:2vw;transform: rotate(-2deg); opacity: 0;}
.bg-box5{ bottom:-6%;left:-6vw;transform: rotate(-20deg);}
.bg-box6{ top: 52%;right:-5vw;transform: rotate(43deg);}
.bg-box7{ bottom:4%;right:-5vw;transform: rotate(132deg);z-index:-1;}
.bg-box8{ bottom:10%;left:-5vw;transform: rotate(5deg);z-index:-1;}
.bg-box9{ bottom:-6%;left:-5vw;transform: rotate(27deg);}

.visual-con-box{
    margin-top:15vh;
}
.visual-con-box-txt{
    text-transform: uppercase;
    font-size:7rem;
    font-weight: 800;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
}
h2.visual-con-box-txt{ color:#ff4c54;}
p.visual-con-box-txt:nth-child(4){ text-transform: none; }
div.visual-con-box-txt{width:100%;}
.move{ 
    transition: all .2s;
    animation: textAni 1.2s normal;
    -webkit-animation: textAni 1.2s normal;
    -moz-animation: textAni 1.2s normal;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: forwards;
    /* opacity: 1; */
}

@keyframes textAni{
    from{ opacity: 0;transform: translateY(200px); }
    to{ opacity: 1;transform: translateY(0); }
}
@-webkit-keyframes textAni{
    from{ opacity: 0;transform: translateY(200px); }
    to{ opacity: 1;transform: translateY(0); }
}
/* .on{ visibility: visible; } */
h2.visual-con-box-txt.move{animation-delay: 0;}
p:nth-child(2).visual-con-box-txt.move{ animation-delay: .3s; }
p:nth-child(3).visual-con-box-txt.move{ animation-delay: .6s; }
p:nth-child(4).visual-con-box-txt.move{ animation-delay: .9s; }
.visual-con-box-imgBox{
    position: relative;
    width:100%;
    margin-top:5%;
    background: #669eff;
    box-sizing: border-box;
    overflow: visible;
}
.visual-con-box .btn-style{ padding:3% 0; }
.visual-con-box-imgBox-txt{
    display: block;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size:3.8rem;
    color:#fff;
    padding:3.5% 5.5%;
    line-height: 1.2;
    box-sizing: border-box;
    text-transform: capitalize;
    position: relative;
}
.visual-con-box-imgBox-txt:after{
    content:'';
    position: absolute;
    top:-50%;right:20%;
    background: url(../images/bg_box01.png) no-repeat 0 0;
    background-size:100%;
    min-width: 100px;min-height: 150px;
    width:22%;
}

.visual-con-box-imgBox-img{
    position: absolute;
    right: -50%;
    bottom: -13%;
    transform: rotate(-15deg);
}
.visual-con-box-imgBox-img img{ display: none; }
.visual-imgBox-txt{ 
    display: block; 
    background: #fff;
    padding:6% 12%;
    position: relative;
    min-width: 450px;
}
.visual-imgBox-txt:after{
    content: '';
    position: absolute;
    bottom:-1px;
    right:-1px;
    width:40px;height:40px;
    border-right:20px solid #000;
    border-top:20px solid #669eff;
    border-left:20px solid #669eff;
    border-bottom:20px solid #000;
}
.visual-imgBox-txt span{
    display: block;
    font-size: 1.8rem; 
    line-height: 1.4;
}
.visual-imgBox-txt span.b{ font-size: 2.5rem;  }
.visual-con-box .col.push-s1{ left:3%; }
.visual{ margin-bottom:15%; } 

/* --------------------------
* 
* contents 
*
--------------------------*/
/****** 공통 ******/
.section{ margin-bottom:25%; padding-top:7%; }
.section-title{
    /* color:#eee; */
    font-family: 'SpoqaHanSans';
    font-size: 4.286rem;
    font-weight: bold;
    position: relative;
    display:inline-block;
    /* padding-top: 30%; */
    margin-bottom:5%;
}
.section-title:after{
    content:'';
    position: absolute;
    bottom:-15px;left:0;
    width:100%;
    height:4px;
    background: #eee;
}
.section-con-txt{
    font-family: 'SpoqaHanSans';
    font-size: 2rem;
    line-height: 1.86;
    letter-spacing: -0.84px;
    /* color:#fff; */
    word-break: keep-all;
}


/****** section1 ******/
.section1 .section-con-txt{
    width:95%;
    margin-left:5%;
}

/****** section2 ******/
/* .section2 .section-con{ width:100% !important; } */
.section2 .section-con-txt{
    background: url(../images/box.svg) no-repeat;
    background-size: 100% 100%;
    padding:6rem 6%; 
    margin-bottom:15%;
    overflow: hidden;
    /* width:100% !important;  */
}
.section-con-txt p{
    font-family:'SpoqaHanSans';
    line-height: 1.63;
    letter-spacing: -1px;
    margin-bottom:4%;
}
.section-con-txt p:nth-child(2){
    font-weight: bold;
    font-size: 2rem;
}
.section-con-txt p:nth-child(3){
    font-weight: 300;
    font-size: 1.9rem;
}
.section-con-txt-label{
    display: inline-block;
    font-size: 2.533rem;
    font-weight: bolder;
    padding:.5rem 1.7rem;
    position: relative;
    margin-bottom:2%;
    color:#000;
}
.section-con-box:nth-child(1) .section-con-txt-label{ background: #ffd666; }
.section-con-box:nth-child(2) .section-con-txt-label{ background: #669eff; }
.section-con-txt-label:after{
    content:'';
    position: absolute;
    bottom:0;right:0;
    width:24px;height:24px;
    border-right:12px solid #000;
    border-top:12px solid #fff;
    border-left:12px solid #fff;
    border-bottom:12px solid #000;
}
.section-con-btn{
    display: block;
    text-align: right;
}
/* .section2  .section-con-box .con-box-bg{ 
    width:100% !important; 
    height:100% !important; 
} */


/****** section3 ******/
.section3 .section-title{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 4rem;
    font-family: SpoqaHanSans;
    width:35%;
}
.section3 .section-con-box:last-child .section-title{ padding-top:20%; }
.section3 .section-title span{ 
    display: inline-block;
    width: 49%; 
}
.section3 .section-title span:last-child{ text-align: right; }

.section3 .section-con-txt li{ 
    width:100%;
    margin-bottom:3%; 
}
.section3 .section-con-txt .sess-time,
.section3 .section-con-txt .sess-txt{ 
    display: inline-block;
    font-size: 2.4rem;
}
.section3 .section-con-txt .sess-time{
     width: 28%;
     font-weight: 400; 
}
.section3 .section-con-txt .sess-txt{ 
    width: 71%;
    vertical-align: top;
    word-break: keep-all;
}
.section3 .section-con-txt .sess-txt>span{ display: block; }
.section3 .section-con-txt .sess-txt>span:last-child{ font-size: 2rem;color:#9f9f9f; }

.section3 .section-con-box:nth-child(1) .section-title span{ color:#fbd665; }
.section3 .section-con-box:nth-child(1) .section-title:after{ background: #fbd665; }
.section3 .section-con-box:nth-child(2) .section-title span{ color :#669efe; }
.section3 .section-con-box:nth-child(2) .section-title:after{ background: #669efe; }

/****** section4 award ******/
.section4{ 
    margin-top:15%;
    padding:10% 0 20%;
    position: relative;
}
.section4:after{
    content:'';
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background:#ff4d4e url(../images/bg-award.png) no-repeat center 100%;
    background-size: 120%;
    opacity: .9;
    z-index:-1;
}
.section4 .section-con-txt{  padding:0 4%; }
.section4 .section-tit{ position: relative; }
/* .section4 .section-tit+div{ padding-top:110px; } */
.section4 .section-title{
    background: #fff;
    margin-bottom: 0;
    padding:2% 4%;
    box-sizing: border-box;
    font-size: 4rem;
    /* 아직 태그 안먹는 브라우저 많음. 크로스브라우징 때문에 <span>으로 감싸고, 가상으로 대체 
    text-decoration-line: underline;
    text-decoration-color:#ff4d4e;
    text-underline-position:under; */
    line-height: 1.4;
    position: absolute;
    top: -260px;
}
.section4 .section-title:after{
    top:auto;left:auto;right:0;bottom:0;
    width:24px;height:24px;
    border-right:12px solid #e54546;
    border-top:12px solid #111;
    border-left:12px solid #111;
    border-bottom:12px solid #e54546;
}
.section4 .section-title span{ 
    position: relative; 
    color: #ff4d4e;
}
.section4 .section-title span:after{
    content: '';
    position: absolute;
    bottom:0;left:0;
    width:100%;height: 3px;
    background: #ff4d4e;
}

.section4 .section-con-txt p{ 
    margin:6% 0 2%; 
    text-shadow: -.0165em 0 #fff, 0 .0165em #fff, .0165em 0 #fff, 0 -.0165em #fff;
    color:#fff;
}
ul.section-con-txt-box > li {
    list-style-type: disc;
    margin-left:3%;
    font-size:  1.867rem;
    color:#eee;
    position: relative;
}
.award-detail{ }
.award-detail li{ position: relative;padding-left:1.4rem; }
.award-detail li:after{
    content:'-';
    position: absolute;
    top:0;bottom:0;left:0;
    margin:auto;
    font-size:1.7rem;
}


/****** section5 ticket ******/
.section5 .section-con-txt{
    width:90%;
    margin:auto;
}
.section5 .section-con-txt li p{
    display: inline-block;
    width: 54%;
    font-size: 2.6rem;
    line-height:1.5;
    /* font-weight: bold; */
}
.section5 .section-con-txt li p:last-child{
    width:35%;
    margin-left:9%;
}
.section5 .section-con-txt li p span{
    display: inline-block;
    /* width:27%; */
    font-size:1.4rem;
    font-weight: 300;
    vertical-align: baseline;
    text-transform: uppercase;
}
.section5 .section-con-txt li p strong{
    display: inline-block;
    width:60%;
    text-align: right;
    font-size: 2.8rem;
}
.section5 .section-con-txt .mobile{display: none;}

/****** section6  Location ******/
.section-con-address{
    margin-top:4%;
    font-size:1.867rem;
    line-height: 1.2;
}

/****** section7 Contact us ******/
.section7{ margin-bottom:20%; }
.section-con-txt-left, 
.section-con-txt-right{
    display: inline-block;
    width:49%;
    text-align: center;
    margin-top:5%;
    font-size: 2.133rem;
    font-weight: bold;
}
.mailto{
    /* color:#fff; */
    font-size: 1.867rem;
    font-weight: 100;
}

/* ------------------------
* 1차 이후 추가 
* ------------------------ */
/***** sponsored **********/
.sponsored{ 
    margin-bottom:15%;
    background-color: rgba(255, 255, 255,.7);
    padding:2% 0;
    position: relative;
    overflow:hidden;
}
.sponsored-title{ font-size: 2rem;margin-bottom: 3%;color:#111; }
.sponsored-title:after{ height: 2px;bottom: -8px;background: #111; }
.sponsored-con{
    width:100%;
    margin: auto;
    display: flex; 
    display:-webkit-flex;display:-ms-flex;
    flex-wrap: wrap;
    -webkit-box-lines: multiple; -ms-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center; -ms-align-items: center;
}
.sponsored-con-box{ width:20%;border:2px solid transparent;text-align: center;}
.sponsored-con-box img{width:50%;}
.sponsored-con-box:nth-child(4) img{width:40%;}
.sponsored-con-box:nth-child(3) img{width:70%;}

/****** section-f  / FAQ  ******/
.section-f .section-con-txt{ margin-bottom:6%; }
.section-f .section-con-txt p{
    font-size: 3rem;
    margin-bottom:1%;
    word-break: keep-all;
}
.section-f .section-con-txt p:last-child span{
    display: inline-block;
    vertical-align: top;
}
.section-f .section-con-txt p:last-child .b{ width:4%; }
.section-f .section-con-txt p:last-child .small{ 
    font-weight:100;
    color:#bdbdbd;
    font-size: 2rem; 
    width:94%;
    margin-top:20px;
}
.section-f .section-con-txt p:last-child a{ 
    text-decoration-line: underline;
    color:#669efe; 
}


.move-box { opacity:0; }
.opacity{ opacity: 1; }

/* --------------------------
* 
* footer
*
--------------------------*/
footer{
    background-color: #777777;
    padding:3.5% 0;
    font-family: 'SpoqaHanSans';
    letter-spacing: -1.2px;
    font-size: 1.6rem;
    position: relative;
}
footer div{ color:#111; }
footer::before{
    content:'';
    position: absolute;
    top: -150%;left:0;right:0;bottom:0;
    background: url(../images/bg_box06.png) no-repeat;
    background-size:100%;
    z-index:-1;
}


/* --------------------------
* 
* modal
*
--------------------------*/
.modal{ 
    width:30%;border-radius:0;padding:10px;
    background: #ff4c54;
    overflow: hidden;
}
.modal::before{
    content:'';
    position: absolute;bottom:0;right:0;
    width:0px;height:0px;
    border-left:40px solid transparent;
    border-top:40px solid transparent;
    border-right:40px solid #0f0f0f;
    border-bottom:40px solid #0f0f0f;
}
.modal:after{
    content:'';
    position: absolute;bottom:0;right:0;
    width:0px;height: 0px;
    border-left:40px solid #ff4c54;
    border-top:40px solid #ff4c54;
    border-right:40px solid transparent;
    border-bottom:40px solid transparent;
}
.modal .modal-content{ padding:0;position: relative;background: #fff; }
.modal-content:after{
    content:'';
    position: absolute;bottom:0;right: 0;
    width:0px;height:0px;
    border-left:36px solid transparent;
    border-top:36px solid transparent;
    border-right:36px solid #0f0f0f;
    border-bottom:36px solid #0f0f0f;
}
.modal-title{ position: relative; z-index:10;padding-top:5%;}
.modal-content-title p{ 
    color:#111;font-size: 3.125rem; font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
    margin-left:8%;
}
.modal .txt-red{ color:#ff4c54; }
.modal .txt-last{ text-transform:capitalize; }
.modal .txt-deco{ 
    display:inline-block; 
    width:32%;height:5px;
    margin:0 2%;
    background: #111;vertical-align: middle; 
}
.modal-btn{  position: absolute;top:2%;right:-2%; }
.modal-close i{ font-size:2rem;color:#111; }
.modal-content-box{ 
    padding:7% 0 13%;
    text-align: center;
    font-size: 1rem;
    color: #111;
    line-height: 1.7;
}





/*--------------------
* pc 
--------------------*/
/* @media screen and ( min-width:2880px ) { */
@media print and (min-resolution: 220dpi){
    /* .visual:before{ background-size: auto;background-position: center 20%;} */
    .section-con{ width:1200px;margin:auto; }
    .bg-box5{left:-10%;}
    .bg-box6{top:58%;right:-10%;}
    .bg-box7{bottom:4%;right:-8%;}
    .bg-box8{left:-5%;}
    .bg-box9{bottom:-5%;left:-5%;}
}
@media screen and ( max-width:1399px ) {
    .section-con-txt{ word-break: keep-all; }
    .visual-con .visual-con-box.col.s7{ width:75%; }
    .visual-imgBox-txt{min-width:370px;}
    .visual-con-box-imgBox-img{ right: -40%; }
    .visual-con-box-imgBox-txt{ font-size: 3rem; }
    .visual-con-box-imgBox-txt:after{ top:-40%;min-width: 80px;min-height: 110px; width:17%; }
    .bg-box1{ top: 54vh; }
    .section-con-txt{ word-break: keep-all;}
    .section-con-txt-label{ font-size: 2rem; }
    .section1 .section-con-txt{width:100%;margin:0;}
    .section-title.col.s8{ width:85%; top: -200px; }
    .section3 .section-title{width:50%;}
    .section3 .section-con-txt .sess-time, 
    .section3 .section-con-txt .sess-txt{ font-size:1.9rem; }
    .section3 .section-con-txt .sess-txt>span:last-child{ font-size:1.7rem; }
    .section4{ padding: 10% 0 30%; }
    ul.section-con-txt-box > li{ font-size: 1.7rem;letter-spacing: -2px; }
    .section5 .section-con-txt{ width:100%;margin:0; }
    .section5 .section-con-txt li p{ font-size: 2.1rem; }
    .section5 .section-con-txt li p span{ width:33%; }
    .section-con-address{ font-size: 1.6rem;letter-spacing: -2px; }
    .section-con-map img{ width:100%; }
    footer::before{ top:-150%;background-size:100%; }

    /* .modal{ width:40%; } */
    /* .modal-content-title p{ font-size: 2rem; } */
    /* .modal-content-box{ font-size: .875rem;padding: 10% 0 15%; } */
    .modal::before,
    .modal:after{ border-width: 30px; }
    .modal-content:after{ border-width: 24px; }
}
@media screen and ( max-width:1140px ) {
    .visual-con-box-imgBox-img{ right: -46%; }
    .section-f .section-con-txt p{ font-size: 2rem; }
    .section-f .section-con-txt p:last-child .b{  }
    .section-f .section-con-txt p:last-child .small{ font-size: 1.5rem; margin-top:10px;}
    .head-logo,nav .brand-logo{left:8%;}

    .modal{ width:38%; }
}
@media screen and ( max-width:970px ){
    .head nav{ margin-left:0;width:100%; }
    .bg-box1{ top: 53vh; }
    nav .nav-wrapper{width:100%;}
    .container{width:90%;}
    .visual-con-box{ margin-top:18%; }
    .visual-con .visual-con-box.col.s7{ width:75%; }
    .visual-con-box-imgBox-img{ top: 3vh;right: -38%; }
    .visual-imgBox-txt{min-width:300px;}
    .visual-con-box-imgBox-txt{ font-size: 2.8rem; }
    .section3 .section-title{ width:100%;font-size: 2.8rem; }
    .section3 .section-con-txt .sess-time, 
    .section3 .section-con-txt .sess-txt{display: block;width:100%;word-break: keep-all;}
    .section5 .section-con-txt li p:last-child{width:43%;margin-left: 0;}

    .modal{ width:45%; }
}
/* @media only screen and (max-width: 992px){
    nav .brand-logo {left:0 !important;}
} */




