/* --------------------------
* 
* header - basic
*
*--------------------------*/
header{
    position: absolute;
    top: 0;left:0;right: 0;
    z-index: 1000;
}
.blind{display: none;}
.container{ width: 80%;margin:auto; }

.head{ padding-top:20px; }
.head-logo{ width:35%;margin-right:auto;text-align: left; }
.head-logo span{display: inline-block;vertical-align: bottom;}

.head-logo-img{
    width:36%;height:80px;text-align: left;
    background: url(https://maxthecreative.co/mtc-logo-w.png) no-repeat;
    background-size:90%;
    background-position-y:50%;
}

.head-logo-txt{
    line-height: 1.55;text-align: left;
    font-size:1.375rem;
    margin-left:7px;
    color: #fff;
}
.head-btn{ display: none; }

.head-contents{margin-right: 0;}
.tab{ font-size: 1.2rem;text-transform: uppercase; }
.head-con-navi a{ color:#fff; }
.head-contents ul:not(.browser-default) > li{ 
    margin-right:0;margin-left: 15px; 
}
.head-con-navi i{font-size: 2.5rem;}

/*---------- head fixed - body scroll  */
header.fix{
    position: fixed;
    background: rgba(255,255,255,1);
    box-shadow:2px 0 5px rgba(0,0,0,.4);
    animation:.2s fix;
    /* height: 80px; */
    /* height: 135px; */
    /* padding:10px 0; */
}
header.fix .head{ padding:10px 0; }

header.fix .head-logo-img { 
    background: url(https://maxthecreative.co/mtc-logo.png) no-repeat;
    background-size: 90%; 
    background-position-y: 50%;
    width:30%;height:50px;
}
header.fix .head-logo-txt{color:#111;font-size: 1.125rem;}

header.fix .head-btn a{ 
    border-color:#666;
    color:#111;
    box-sizing: border-box; 
}
header.fix .head-btn a:hover{ border-color:transparent; }

header.fix.sub-head{ padding-top:0;}


/* --------------------------
* 
* coming header
*
*--------------------------*/
.head-coming .head{padding-top:20px;}
.head-banner{
    background:#000;
    height:58px;line-height:58px;
    text-align: center;
    color:#fff;font-size:1.1rem;
}
.head-banner .container{position: relative;}
.head-banner span{
    width:80%;
    margin-right:3%;
    text-align: right;
    letter-spacing: -.1em;word-break: keep-all;
    display: inline-block ;
}
.head-banner .btn-style{
    color:#fff;font-size: 1.1rem;
    width:17%;
    padding:10px 20px;
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block ;
}

.head-coming .head-logo-txt{display: none;}

.head-coming .head-contents ul:not(.browser-default) > li{ 
    margin-left: 40px;color:#fff;
    font-size: 1.2rem; 
}
span[data-target="drop-menu"] {
    position: relative;cursor: pointer;vertical-align: sub;
}
span[data-target="drop-menu"]:after{ 
    content:'';width:120%;height: 1px;background: #fff;
    position: absolute;bottom:-10px;left:-10%;
}

.drop-menu-wrap{
    background: gray;
    width:10% !important;
    top:85% !important;right:0;
}
ul.drop-menu-wrap:not(.browser-default) > li{margin-left:0;}

/* .head-coming.fix{ height:130px; } */
.head-coming.fix span[data-target="drop-menu"]{color:#111;}



.pc{display:block;}
.mobile{display: none !important;}


/* --------------------------
* 
* footer
*
*--------------------------*/
footer{
    background-color:#111;
    padding:3.5% 0;
    font-family: 'SpoqaHanSans';
    letter-spacing: -1.2px;
    font-size: 1.2rem;
    position: relative;
}
footer div{ color:#666; }



/* --------------------------
* 
* main head - navi
*
*-------------------------*/
/* main navi */
.main-sub-head{ 
    position: absolute;top:130px;left: 0;right: 0;
    margin: auto;z-index:1010;
    display: none; 
}
.tabs{ 
    background: none; /*width: 35%;*/
    width:auto;height:52px;margin-right: 0;
    display: flex;display: -webkit-flex;display: -ms-flex;
    flex-wrap: nowrap;-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;
    /* align-items: center;-webkit-align-items: center; -ms-align-items: center; */
    justify-content: flex-end;-webkit-box-pack: end; -ms-flex-pack: end;
}
.tabs .tab{/*width: 25%;*/padding-right:5%;}
.tabs .tab:last-child{padding-right: 0;}
.tabs .tab a{ 
    display: block;
    line-height: 50px;height: 50px;padding:0;
    color:#ccc;position: relative;
}
.tabs .tab a:hover, 
.tabs .tab a:focus,
.tabs .tab a.active,
.head-con-navi a:hover{ background-color: transparent;color: #ee6e73; }

/* main navi */
header.fix .head-con-navi a{ color:#111; }
header.fix .head-con-navi a:hover,
header.fix .head-con-navi a:active,
header.fix .head-con-navi a:focus,
header.fix .head-con-navi a.on{ color:#111;font-weight: bold; }

header.fix .head-con-navi .btn-style{ 
    border: solid 1px #ff4d4e;
    color:#ff4d4e;
    font-weight: 400;
}
header.fix .head-con-navi .btn-style:active,
header.fix .head-con-navi .btn-style:focus{
    color:#ff4d4e;font-weight: 400;
}

/* session navi */
header.fix+.btn-top+.main-sub-head{
    display: block;
    position: fixed;z-index:100;
    /* top: 80px; */
    top: 130px;
    background:#fff;
}
header.fix+.btn-top+.main-sub-head .tabs .tab a{color:#111;}
header.fix+.btn-top+.main-sub-head .tabs .tab a:hover, 
header.fix+.btn-top+.main-sub-head .tabs .tab a.active{ 
    background-color:transparent;
    color: #ee6e73;
    font-weight: bold; 
}

@keyframes fix{
    from{ opacity: 0;transform: translateY(-100px); }
    to{ opacity: 1;transform: translateY(0); }
}

.head-coming.fix+.btn-top+.main-sub-head{top:130px;}


/* --------------------------
* 
* contents
*
*--------------------------*/
/*------- visual  */
.visual{ 
    position: relative; 
    height:100vh;
    background: #000;
    overflow: hidden;
}
.visual::before{
    content: '';
    position: fixed;top: 0%;left:0;right:0;bottom:0;
    background: url(/2019/images/bg.jpg) no-repeat center;
    background-size: cover;
    opacity: .8;
}
.visual-con{ 
    position: absolute;top:0;left: 0;right:0;bottom:0;
    height: 53%;margin: auto;
    text-align: center;
}

/* visual-con-box1 */
.visual-con-box-txt{
    text-transform: uppercase;
    font-size:5.333rem;
    font-weight: 900;
    color:#fff;
    font-family: Noto Sans KR;
    display:inline-block;
    opacity: 0;
    margin-right:1.2%;
}
.ko{ font-size:3.2rem;font-weight: 400;text-transform: capitalize; }
.last{ 
    text-transform: none;margin-right: .3rem;
    font-size: 4rem;font-weight: 300;
}
.visual-con-box-txt.ko{
    background: #9c9c9c;
    width:60%;padding:7px 0;border-radius:100px;
    margin-top:1.5rem;position: relative;
    color:#111;
    font-family: Noto Sans KR;
    font-size:3rem;
    font-weight: 700;
    letter-spacing: -1.8px;
}
.visual-con-box-txt.ko::before{
    content:'';
    position: absolute;top:-20%;right:10%;z-index:-1;
    background:#9c9c9c;
    width:20px;height: 50px;
    border-radius: 0 50px 0 0px;
    transform: skewX(25deg);
}

/* visual-con-box2 - video */
.visual-con-box2{  
    border: solid 2px #999;
    box-sizing: border-box;
    margin: 3% auto 0;
    max-width:900px;
    height:370px;
    position: relative;
}
.visual-video{ 
    position: absolute;top:0;left:0;right:0;bottom:0;
    margin: auto;height:30%;
}
.modal.modal-video {
    max-height: 100%;
    width:80%;
    background: none;
    box-shadow:none;
    overflow-y: inherit;
}
.modal-video .modal-content{padding:0;}
.modal-video iframe,
.modal-video video{
    width:100%;
    height:650px;
}
.modal-close{ 
    position: absolute;
    top:-40px;
}
.modal-close-right{ right:-20px; }
.modal-close-left{ left:-20px; }
.modal-close-center{ right:0;left:0;margin:auto; }
.modal-close i{ font-size:3rem; }

.modal-footer{display: none;}

/*----------- sub-visual */
.subpage-visual{width:100%;min-height: 170px;
    background: url(/2019/images/subbg.jpg) no-repeat;
    background-position:center 5%;
    background-size: cover;
}
.subpage-visual .section-title{margin-top:22.5%;color:#fff;}


/**** animation  *****/
.move{ 
    transition: all .2s;
    animation: textAni 1.2s normal;
    -webkit-animation: textAni 1.2s normal;
    -moz-animation: textAni 1.2s normal;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: forwards;
}
.visual-con-box-txt.move{animation-delay: 0;}
span:nth-child(2).visual-con-box-txt.move{ animation-delay: .3s; }
span:nth-child(3).visual-con-box-txt.move{ animation-delay: .6s; }
span:nth-child(4).visual-con-box-txt.move{ animation-delay: .9s; }
p.visual-con-box-txt.move{animation-delay: 1.2s;}

@keyframes textAni{
    from{ opacity: 0;transform: translateY(200px); }
    to{ opacity: 1;transform: translateY(0); }
}
@-webkit-keyframes textAni{
    from{ opacity: 0;transform: translateY(200px); }
    to{ opacity: 1;transform: translateY(0); }
}


/*------- apply  */
.section-main{ 
    background:#f5f5f5 url(/2019/images/bg2.jpg) no-repeat center; 
    background-size:cover;
}


/*------ agency */
.section-agency .section-title{width: 100%;}
.section-agency .section-con-title{
    text-transform: uppercase;
    font-weight: 900;margin-bottom:3%;
}
.section-agency .section-con-box{
    display: inline-block;
    width:47%;
    vertical-align:top;
    margin-bottom:3%;
}
.section-agency .section-con-box:nth-child(2){margin-right:5%;}
.section-agency .section-con-box img{width: 100%;}

.sess-bar{ margin:2% 0 10%;text-align: center;display: none !important;}
.agency-btn{text-align: center;}
.agency-btn a{width:40%;font-weight: 400;padding: 21px 45px;}


/*------ gallery */
.section-gallery .section-title{ text-transform: capitalize; }
.gallery-box{ width: auto;}
.swiper-container-horizontal > .swiper-scrollbar{
    width:50%;
    margin: auto;
    left: 0;right:0;
}
.swiper-scrollbar-drag{background:rgba(255, 255, 255,.5) ;}

.swiper-button-prev,
.swiper-button-next{ background-image: none;top:35%; }
.swiper-button-prev{ left:20%; }
.swiper-button-next{ right:25%; }
.swiper-button-prev:after,
.swiper-button-next:after{ 
    font-family: 'Material Icons';
    font-size:10rem;vertical-align: middle;
    color:#fff;
    visibility: visible;cursor: pointer;
 }
.swiper-button-prev:after{content:'navigate_before'}
.swiper-button-next:after{content:'navigate_next'}


/*------ promotion */
/*-- award banner */
.link-banner{ background: #ff4d4e; }
.link-banner .container{
    padding:4% 0;
    line-height: 1.63;
    width: 62%;position: relative;
}
.link-banner .container:after{
    content:'';position: absolute;bottom:0;right:0;
    background: url(/2019/images/icon_08.png) no-repeat;
    background-position: 0 100%;
    background-size:100%;
    width:180px;height:220px;
}
.link-banner-txt{
    text-align: center;font-size: 2.2rem;
    color:#fff;font-weight: 900;
}
.link-banner-btn{text-align: center;}
.link-banner-btn a.btn-style2{
    color:#fff;border-color:#fff;
}

/*-- promotion -------------*/
.section-main{  background:url(/2019/images/bg2_fin.jpg) no-repeat center; }
.section-promotion{  }
.section-promotion .box{ 
    width:49%;height:290px;margin: auto;margin-bottom:2.5%;margin-left:0;
    background:url(/2019/images/box.png) no-repeat 0 center; 
    background-size: 400%;
}
.section-promotion .box:nth-child(2n){margin-right:0;}
.box.pro-mobi{}
.box.pro-mobi-int{background-position-x:33.4%;}
.box.pro-mobi-aca{background-position-x:66.67%;}
.box.pro-mobi-con{background-position-x:100.1%;}

.section-promotion .box .box-con{ 
    padding:2% 13% 4%;height:100%;
    display: flex;display:-webkit-flex;
    flex-direction: column;-webkit-flex-direction: column;
    color: #454545;
}
.section-promotion h5{font-size:1.5rem;line-height: 2.03;font-weight: bold;}
.section-promotion p{font-size: 1.2rem;}
.section-promotion p span{margin-left:10px;}
.section-promotion div{margin: auto;margin-bottom:0;line-height: 1.55;}
.section-promotion .btn-style2-black{
    border-color:#777;border-width:1px;
    font-size: 1.2rem;
    color:#777;
}

.count-box{
    background: #111;
    color:#ddd;font-size:1.6rem;
    padding:3% 0;text-align: center;font-weight: 400;
}
.count-box strong{font-weight: bold;color:#f6f6f6;}





/* --------------------------
* 
* media query
*
--------------------------*/
/*------- pc  */
@media screen and ( max-width:1399px ) {
    .head{padding-top:20px;}
    .head-logo-img{width: 30%;}
    .head-logo span{vertical-align: middle;}

    /*------- coming page  */
    .head-coming .head-logo-img{width: 40%;}

    /* visual */
    .visual-con-box-txt{font-size: 4rem;}
    .visual-con-box-txt.ko{font-size: 2rem;}
    .visual-con-box-txt.ko img{width:45px;}
    .visual-con-box2{max-height: 300px;width: 70%;}
    .visual-video{height: 40%;}   
}
@media screen and ( max-width:1280px ) { 
    .head-logo-txt{font-size: 1rem;}
    .head-banner,
    .head-banner .btn-style{ font-size: 1rem; }

    /* promotion */
    .section-promotion .box{height: 260px;}
    .section-promotion p,
    .section-promotion .btn-style2-black{font-size: 1rem;}
}
@media screen and ( max-width:1140px ) { 
    .head-logo span{vertical-align: middle;}
    .head-banner{ font-size: .9rem; }
    .head-banner .btn-style{ font-size: .9rem;padding:1% 2%; }

    /* visual */
    .visual-con-box-txt.move.ko{font-size:2rem;}
    .visual-con-box-txt.move.ko img{width:40px;}

    /* promotion */
    .section-promotion .box{height: 176px;}
    .section-promotion h5{font-size: 1.25rem;}
    .section-promotion p{font-size: .9rem;letter-spacing: -.08em;}
    .section-promotion .btn-style2-black{ font-size: .9rem;}
    .count-box{font-size:1.3rem;}

    /* agency */
    .agency-btn a{ width:60%; }
}
@media screen and ( max-width:970px ){
    .head-logo{width:36%;}
    .head-contents ul:not(.browser-default) > li{ margin-left: 5px;}
    .tabs .tab a{padding: 0 2px;}
    header.fix .head-logo-txt{font-size: 1rem;}
    header.fix .head{padding-top:15px;}
    header.fix .head-con-navi .btn-style{ padding: .7rem .8em; } 

    /* visual */
    .visual-con-box-txt{font-size: 4.6rem;}    
}
@media screen and ( max-width:799px ){
    .container{width:90%;}

    .head.container{ width:100% !important;}
    .head-logo{width:50%;margin-left:3%;}
    .head-logo-img{width:30%;}
    .head-logo-txt{ font-size: 1.1rem;}
    .mobile-gnb{display: none;}
    .mobile-gnb-btn{display: block !important;margin-right:3%;}
    .head a{color:#fff;text-align: center;}
    .head-contents{margin-right:5%;}

    .dropdown-content{
        width:300px !important;height:100vh !important;
        background:rgba(255,255,255,1);
        box-shadow:0 5px 5px rgba(0,0,0,.3);
        left:inherit !important;
        right:0;top:-10px ;
        overflow-x: hidden;
    }
   .dropdown-content::before{
        content: '\2716';
        position: absolute;top:16px;left:16px;
        width:25px;height: 25px;line-height:25px;
        font-size:1.6rem;color:#111;
        overflow: hidden;
        z-index: 100;
    }
    .dropdown-content li > a, 
    .dropdown-content li > span{
        color:#111;  
        text-align: left;
    }
    .dropdown-content.tabs .tab a.i-facebook:hover img{
        filter:invert(0) sepia(0) saturate(0) hue-rotate(0deg); 
        -webkit-filter:invert(0) sepia(0) saturate(0) hue-rotate(0deg); 
    }
    .mobile-gnb-btn i.large{font-size:4rem;}
    .head-contents ul:not(.browser-default) > li{ margin-left:40px;}
    header.fix .head{padding-top:7px;}
    header.fix .mobile-gnb-btn{color:#111;}
    header.fix .head-logo-img{ 
        background-size: 100%;width:40%;
        vertical-align: bottom;
    }

    header.fix .dropdown-content{top:0px !important;}
    

    /*------- coming page  */
    .head-coming .head-logo{width:36%;margin-left:0;}
    .head-coming .head-logo-img{width:45%;background-position-x: 0;}
    .head-coming .head-contents{ margin-right: 5%;}
    .head-banner{ font-size: .7rem;letter-spacing: -.08em; }
    .head-banner .btn-style{ font-size: .8rem;padding:1% 2%; }
    .head-banner span{
        text-align: center;
        width:78%;
    }
    .head-banner.fix .head-logo-img{ width:45%; }

    /* visual */
    .visual-con-box2{height: 350px;}

    /* promotion */
    .link-banner .container{width:90%;}
    .link-banner .container:after{width:115px;} 

    .section-promotion .box{height: 130px;}
    .section-promotion h5{font-size: 1rem;}
    .section-promotion p{ font-size: .7rem;letter-spacing: -0.12em;}
    .section-promotion .btn-style2-black{ 
        font-size: .7rem;
        padding:5px 20px;
    }
    .count-box{font-size:1.2rem;}

    /* agency */
    .section-agency .section-con-box{width:100%;}
    .agency-btn a{width: 100%;}
}


/*------- mobile */
@media screen and ( max-width:600px ){
    .mobile, .btn-mobile{ display: block !important; }
    .pc{display: none !important;}
    .container{width:90%;}

    .head{ padding-top: 20px; }
    .head-logo{margin: auto;width:40%;}
    .head-logo-img{width:72%;height:45px;}
    .head-logo-txt{display: none !important;}
    .mobile-gnb-btn{
        position: absolute;top:55px;left:3%;
    }
    .mobile-gnb-btn i{font-size:2.5rem !important;}

    .mobile-gnb{ cursor: pointer !important; }

    .head-contents{position: fixed;top:0;left: 0;right:0;z-index: 10;}
    .head-btn{
        display: block;position: absolute;
        top:60px;right:-2%;margin-right:0;
    }

    .tabs{height: 40px;}
    .tabs .tab{margin-top:0;cursor: pointer;}
    .tabs .tab a{height: 40px;line-height: 40px;font-size: .9rem;}

    .dropdown-content{ 
        width:100vw !important;
        height:auto !important;
        top:0 !important;
        padding:5% 0;
    }  
    .dropdown-content li{
        height: 35px !important;
        width:auto;
        text-align: center;
    }
    .dropdown-content li > a {
        text-transform: uppercase;
        text-align: center;
    }
    .dropdown-content .tabs .tab a{
        height:35px;box-sizing: border-box;
    }
    .dropdown-content .tabs .tab a:active, 
    .dropdown-content .tabs .tab a:hover{display: inherit;}
    .head-contents ul:not(.browser-default) > li{margin-left:0;}

    header.fix{height: 100px;}
    header.fix .head{padding-top:5px;}
    header.fix .mobile-gnb-btn{top:0;}
    header.fix .head-btn{top:2px;}
    header.fix .head-logo-img{ 
        /* width:80%;height:40px;  */
        width:30%;height:35px; 
    }
    header.fix .tabs.mobile-gnb{padding:5% 0;text-align: center;}
    header.fix .head-con-navi .btn-style{border:none;color:#111;}

    /* nav-session position */
    .head-coming.fix+.btn-top+.main-sub-head{top:97px;}

    /*------------- 
    *
    * coming page 
    *
    ---------------*/
    .head-coming .head-logo{margin:auto;width:60%;}
    .head-coming .head-contents{top:58px;}

    .head-banner{
        height:auto;
        line-height: 1.7;
        position: relative;
        padding:2% 0;
    }
    .head-banner .container{width:100%;}
    .head-banner span{
        text-align: left;letter-spacing: -.1em;
        width:68%;
        margin-right: 5px;
    }
    .head-banner .btn-style{
        width:23%;padding:10px 7px;
        vertical-align: text-bottom;
    }


    .head-coming .mobile-gnb-btn{top:0;}
    .head-coming .head-btn{display: block;right:-4px;top:2px;}
    .head-coming .head-btn .btn-style{
        font-size:.8rem;
        padding:10px 5px;
    }

    .head-coming .dropdown-content{top:0;}
    .head-coming .head .dropdown-content a{text-align: left;padding-left:35%;}
    .head-coming .dropdown-content li{text-align: left;}


    /* subpage -- nav */
    .subpage-visual .section-title{font-size: 1.4rem;margin-top:48%;}


    /*------- footer */
    footer span{font-size: .875rem;}
    footer div a{
        position: absolute;
        top:20%;left:0;right:0;
        font-size: 1.125rem;
    }


    /* visual */
    .mobile, .btn-mobile{ display: block !important; }
    .pc{display: none !important;}

    .btn-style,.btn-style2{border-width:1px;}

    .visual::before{ 
        background: url(/2019/images/m-bg.jpg) no-repeat center;
        background-size: cover;
    }
    .visual-con{ height:55%; }
    .visual-con-box-txt{font-size: 3.5rem;}
    .visual-con-box-txt.move.ko{
        width:100%;
        font-size: 1.5rem;
        vertical-align: middle;
        margin-top:1.8rem;
        text-align: center;
    }
    .visual-con-box-txt.ko img{vertical-align: middle;width:40px;}

    .visual-con-box1 .visual-con-box{text-align: left;}
    .visual-con-box-txt:first-child{display: block;}

    .visual-con-box2{max-height:320px;height:50%;margin-top:10%;width:100%;}
    .visual-video{height: 20%;}
    .visual-video img{width:15%;}
    .modal-video iframe{height: 250px;}

    /* agency */
    .section-agency .section-con-title{font-size: 1.2rem;}
    .section-agency h2.section-con-title{margin-top:12%;}
    .agency-btn a{width: 100%;font-size:1.1rem;border-width:1px;}
    
    /* gallery */
    .section-gallery{ margin-bottom:0;height:40vh; }
    .swiper-button-prev:after, .swiper-button-next:after{ font-size: 6rem; }
    .swiper-button-prev, .swiper-button-next{top:17vh;}
    .swiper-button-prev{ left:-4%; }
    .swiper-button-next{ right:12%; }

    /* promotion */
    .link-banner .container{width:90%;padding: 6% 0;}
    .link-banner .container:after{width:115px;right: -7%;}
    .link-banner-txt{font-size: 1.8rem;margin-bottom: 1%;}
    .link-banner-btn a.btn-style2{ padding:10px 20px;font-size: 1rem; }

    .section-promotion h5{font-size: 1.125rem;line-height:1.7;}
    .section-promotion p{font-size: .9rem;letter-spacing: -.1em;}
    
    .section-promotion .box .box-con{ padding: 4% 12% 6%; }
    .section-promotion .box{height: 170px;width:100%;}
    .section-promotion .btn-style2-black{ 
        font-size: .9rem;
        padding: .5rem 2rem;
    }

    .count-box{font-size: 1rem;line-height: 1.4;}
    .countTime{display: block;}

    
}
@media screen and ( max-width:500px ){
    .head-btn .btn-style{ padding:.5rem .8rem;font-size: 1rem; }

    /* visual */
    .visual-con-box-txt{font-size: 2.7rem;line-height: 1;}
    .visual-con-box-txt.ko,
    .visual-con-box-txt.move.ko{font-size:1.2rem;}
    .visual-con-box-txt.move.ko img{width: 27px;}
    .visual-con-box-txt.ko::before{height: 30px;top:-35%;}

    .fin-btn .btn-style2{ 
        padding: 1.2rem 4rem;
        font-size: 1rem;
        letter-spacing: -.09em; 
    }
}
/* ios7/8/8+ */
@media screen and (min-width: 374px) and (max-width: 414px){
    header.fix .head-logo-img{width:30%;}
    header.fix .mobile-gnb-btn{top:60px;}
    header.fix .head-btn{top:62px;}

    .head-banner span.mobile{width:80%;margin-left:6%;}

    .head-coming.fix .head-contents{top:0;}
    .head-coming .head-btn .btn-style{padding:10px 7px;}

    header.fix .dropdown-content{top:50px !important}

    /* visual */
    .visual-con-box-txt{font-size: 2.8rem;letter-spacing: -0.02em;}
}
/* ios5/se */
@media screen and (max-width: 359px){
    .head-banner{font-size:.7rem;word-break: keep-all;}
    .head-banner span.mobile{width:80%;margin-left:2%;}
    .head-banner span{width:65%;}
    .head-banner .btn-style{width:25%;}

     /* visual */
     .visual-con-box-txt{font-size: 2.2rem;}
     
     /* promotion */
     .link-banner-txt{font-size: 2rem;}
     .section-promotion .box .box-con{  padding: 7% 12% 9%; }
     .section-promotion h5{font-size: 1rem;}
     .section-promotion p{font-size: .8rem;}
}


